#print-pdf-search ul {
	list-style: none;	
}

#print-pdf-search ul li {
	float: left;
	margin-right: 10px;
	list-style: none;
}

#print-pdf-search ul li label {
	float: left;
	margin: 0 5px 10px 0;
	font-size: 1.2em;
}

#print-pdf-search ul li input[type="radio"] {
	float: left;
	margin-right: 10px;
	border: 1px solid #000;
}

.thumbsContainer {
	
}

.thumbsContainer ul {
	clear: both;
	margin: 10px 0 10px 0;	
}

.thumbsContainer ul li {
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
}

/* Div containing the thumbnails */
/*.jConfirmThumbsContainer {
		
}

ul.jConfirmThumbs {
	list-style: none;
	height: 60px;	
}

ul.jConfirmThumbs li {
	float: left;	
}
*/
