/*Splash screen*/
#jDialogueSplash
{
	background-color: #737373;
}

/*The whole window*/
.jDialogueWindow
{
	background-color: #fff;
	width: 680px;
	min-height: 120px;
	/*border: 1px solid #535156;*/
	box-shadow : 0px 0px 0px 6px rgba(115,115,115,0.8);
	padding: 10px;
	/*margin-top: -60px; 
    margin-left: -225px; */
}

/*Window title*/
.jDialogueTitle
{
	display: block;
	height: 27px;
	line-height: 27px;
	/*background-color: #6d84b5;*/
	font-weight: bold;
	color: #003F72;
	border-top: 10px solid #003F72;
	border-bottom: 2px solid #003F72;
	margin: 0 0 20px 0;
	padding: 10px;
	font-size: 18px;
}

#building h1.jDialogueTitle
{
	display: block;
	height: 27px;
	line-height: 27px;
	/*background-color: #6d84b5;*/
	font-weight: bold;
	color: #58A618;
	border-top: 10px solid #003F72;
	border-bottom: 2px solid #003F72;
	margin: 0 0 20px 0;
	padding: 10px;
	font-size: 18px;
	text-transform: none;
	float: none;
	text-align: left;
}


/*DIV containing the message*/
.jDialogueMessage
{
	margin: 0;
	font-size: 13px;
	background-color: #fff;
}

#print-pdf-search ul {
	list-style: none;	
}

#print-pdf-search ul li {
	float: left;
	margin-right: 10px;
	list-style: none;
}

#print-pdf-search ul li label {
	float: left;
	margin: 0 5px 10px 0;
	font-size: 1.2em;
}

#print-pdf-search ul li input[type="radio"] {
	float: left;
	margin-right: 10px;
	border: 1px solid #000;
}

.thumbsContainer {
	
}

.thumbsContainer ul {
	clear: both;
	margin: 10px 0 10px 0;	
}

.thumbsContainer ul li {
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
}

/* Div containing the thumbnails */
/*.jConfirmThumbsContainer {
		
}

ul.jConfirmThumbs {
	list-style: none;
	height: 60px;	
}

ul.jConfirmThumbs li {
	float: left;	
}
*/

/*Paragraph containing the buttons*/
.jDialogueButtonsContainer
{
	height: 42px;
	line-height: 42px;
	width: 100%;
	margin: 0px;
	margin-top: -1px;
	padding: 0px;
	/*border-top: 1px solid #e6e6e6;*/
	text-align: right;
	clear: both;
	border-bottom: 1px solid #003F72;
}

/*Buttons*/
.jDialogueButtonsContainer input
{
	min-width: 64px;
	min-height: 25px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

/*Cancel button*/
.jDialogueCancelButton
{
	margin-right: 10px;
	margin-left: 5px;
	color: #fff;
	background-color: #003F72;
	border: 1px solid #003F72;
}

.jDialogueCancelButton:hover
{
	background-color: #7a7a7a;
	border: 1px solid #7a7a7a;
}

/*Valid button*/
.jDialogueValidButton
{
	color: #fff;
	background-color: #003F72;
	border: 1px solid #003F72;
}

.jDialogueValidButton:hover
{
	background-color: #7a7a7a;
	border: 1px solid #7a7a7a;
}
