.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #163786;
	color: #fff;
	background-color:#163786;
	text-transform: uppercase;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #fff;
    color: #163786;
	border: solid 1px #163786;
}

.pagination .current.prev, .pagination .current.next{
	color:#163786;
	border-color:#163786;
	background-color:#fff;
	text-transform: uppercase;
}

.pagination a:hover {
	background-color: #71736b;
	border-color: #71736b;
	color: #fff;
}


