body {
	padding:10px;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
/* root element for tabs  */
ul.css-tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #C9CAC8;	 	
}

/* single tab */
ul.css-tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.css-tabs a { 
	float:left;
	font-size:14px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #003F72;	
	border-bottom:none;
	height:18px;
	background-color:#003F72;
	color:#fff;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	/*-moz-border-radius:4px 4px 0 0;	*/
}

ul.css-tabs a:hover {
	background-color:#58A618;
	color:#fff;
	border: 1px solid #58A618;
	border-bottom: none;
}
	
/* selected tab */
ul.css-tabs a.current {
	background-color:#fff;
	border-bottom:1px solid #fff;
	border-top: 1px solid #C9CAC8;
	border-right: 1px solid #C9CAC8;
	border-left: 1px solid #C9CAC8;
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.css-panes div {
	display:none;
	border:1px solid #C9CAC8;
	border-width:0 1px 1px 1px;
	min-height:200px;
	padding:15px 20px;
	background-color:#fff;
	color:#555;
	font-size:13px;
}



