/* styles.css */

@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*color: #616365;*/
	font-size: 10px;  /* 16px × 62.5% = 10px */
	background-color: #fff;
}





/* =Header
-----------------------------------*/




#header {
	/*background: #fff;*/
	margin: 0 0 10px 0;
}

#banner {
	margin: 0;	
}



#header-top {
	padding: 10px 0 10px 0;
}

#header-bottom {
	
}

#header-image {
	float: left;
	width: 190px;
	height: 190px;
	border-right: 1px solid #fff;	
}

.ipad-link {
	margin: 0;
}

.ipad-index-link {
	float:right;
	margin: 5px 0 0 0;
}

#utilities {
	margin: 0;
}



.copy {
	padding: 0 10px 0 0;	
}

#search #print-pdf {
	float: left;
	margin: 12px 5px 0 0;
}


#print-pdf {
	float: left;
	margin: 12px 5px 0 5px;
}

#print-pdf-buildingsuite {
	float: left;
	margin: 0 5px 0 5px;
}

#print-pdf img {
	float: left;
	margin: 0 5px 0 0;
}

#print-pdf-buildingsuite img {
	float: left;
	margin: 0 5px 0 0;
}

#print-page {
	float: left;
	margin: 0 20px 0 0;
}

#print-page img {
	float: left;
	margin: 0 5px 0 0;	
}

#share-this {
	float: left;
	margin: 0 10px 0 0;
}

#share-this-index img {
	position: relative;
	top: 5px;
}

#share-this-buildingsuite {
	float: left;
	margin: 0 5px 0 5px;
}

#share-this-buildingsuite img {
	float: left;
	margin: 0 5px 0 0;	
}

#share-this-index {
	float: left;
	margin: 7px 10px 0 0;	
}


#languages {
float: left;
margin: 12px 10px 0 0;
}

#languages-buildingsuite {
float: left;
margin: 0 10px 0 0;
}



#share-this img {
	float: left;
	margin: 0 5px 0 0;	
}

#new-search-link {
	float: left; 
	margin: 12px 5px 0 5px;
}

.vertical-bar {
	float: left; 
	margin: 12px 0 0 0;
}



#search-box-left {
	float: left;
	width: 190px;
	height: 80px;
	margin: 0 10px 0 0;
	/*border-right: 1px solid #fff;*/
	text-align: center;
	padding: 30px 0 0 0;
}

#search-box-right {
	float: right;
	width: 756px;
}


#search-box-top {
	background-color: #00619a;
	height: 60px;
	padding: 20px 0 0 30px;
}

#search-box-bottom {
	background-color: #7b7066;
	height: 100px;
	border-top: 1px solid #fff;
}





/*#search #content {
	padding: 0;
	margin: 0;*/
	/*width: 958px;*/
	/*background: url(../images/search-results-bg.jpg) top left repeat-y;*/
/*}
*/
/*#content-top {
	width: 748px;
	float: right;
}*/

/*
#building #content-top, #building-high-rise #content-top {
	width: 960px;
	height: 250px;
	padding: 0;
	margin: 0;
	border-top: 2px solid #58A618;
	border-top: 1px solid #7a7a7a;
	border-bottom: 1px solid #7a7a7a;
	background-color: #fff;
	margin-bottom: 20px;
}
*/



/*#suite #content-top {
	width: 958px;
	height: 40px;
	padding: 0;
	margin: 0 0 10px 0;
	/*background-color: #4b74b2;*/
	/*border-top: 2px solid #58A618;
	border-bottom: 2px solid #58A618;*/
	/*border-bottom: 1px solid #7a7a7a;
}*/
#suite-title-block {
	float:left;
	/*width: 688px;*/
	width: 100%;
	margin: 0 0 20px 0;
}

#suite-title{
	float:left;
}

#suite-title-icon {
	float: left;
	margin: 0 0 0 10px;	
}

#tourbook-button {
	float:right;
}







#search #content-top-right {
float: right;
width: 300px;
}

#content-middle {
	width: 956px;
	margin: 0 1px 2px 1px;
}



.navigation {
	float: right;
	/*clear: both;*/	
}


.navigation .previous {
	text-transform: uppercase;
	float: left;
	margin: 0;	
}

.navigation .next {
	text-transform: uppercase;
	float: left;
}

#building .navigation .previous {
	text-transform: uppercase;
	float: left;
	margin: 0 20px 0 0;
	padding: 0 0 0 15px;
	background: url(../images/arrow-left.jpg) left 2px no-repeat;	
}

#building-high-rise .navigation .previous {
	text-transform: uppercase;
	float: left;
	margin: 0 20px 0 0;
	padding: 0 0 0 15px;
	background: url(../images/arrow-left.jpg) left 2px no-repeat;
}

#building .navigation .next {
	text-transform: uppercase;
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	background: url(../images/arrow-right.jpg) right 2px no-repeat;	
}

#building-high-rise .navigation .next {
	text-transform: uppercase;
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	background: url(../images/arrow-right.jpg) right 2px no-repeat;
}


.navigation .back {
	text-transform: uppercase;
	margin: 0 40px 0 0;
	float: left;
}



.navigation .back-building {
	float: left;
	text-transform: uppercase;
	margin: 0 0 0 10px;
}

#footer-bottom .navigation .back-building {
	float: left;
	text-transform: uppercase;
	margin: 0 10px 0 0;
}

.navigation ul {
	float: left;
}

.navigation ul li {
	list-style: none;
	float: left;
	margin: 0 5px 0 0;
}

.navigation ul li.first {
	margin: 0 5px 0 5px;
}

.navigation ul li.last {
	
}


#building .navigation, #building-high-rise .navigation {
	margin: 10px 20px 0 0;	
}

#suite .navigation, #suite-high-rise .navigation {
	margin: 10px 20px 0 0;	
}


.navigation a:link, .navigation a:visited {
	text-decoration: none;
}

.navigation a:hover {
	
}



#search .navigation {
	/*float: left;*/
	clear: none;
}


#search .navigation a:link,
#search .navigation a:visited {
	color: #fff;
	text-decoration: none;
}


#blue {
	background-color: #00619A;
	height: 25px;
	width: 958px;
}

#search #accessories {
	float: right;	
	position: relative;
	top: -5px;
}



.search-result .thumbnail {
	width: 152px;
	height: 152px;
	border: 1px solid #fff;
	margin: 0 auto 0 auto;
}



.title-bar .property-name {
	float: left;
	margin: 0;
}



#more {
	float: left;
	font-size: 1.3em;	
}

#less {
	float:left;
	font-size: 1.3em;	
	visibility: hidden;
}

#building-high-rise table.availabilities {
	width: 956px;
	margin: 0 0 0 1px;	
}


table.availabilities {
	width: 958px;
	border: none;
	
}

table.availabilities tr.odd {
	/*background-color: #00619a;*/
	/*border-color: #fff;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;*/
	font-size: 1.2em;
}

table.availabilities tr.even {
	/*background-color: #5ea1d5;*/
	/*border-color: #00619a;*/
	/*border-bottom: solid;
	border-top: solid;*/
	/*border-width: 1px;*/
	font-size: 1.2em;
}

table.availabilities th {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	color: #000;
	font-size: 12px;
	/*background-color: #ccc;*/
}

table.availabilities td {
	text-align: center;
	vertical-align:text-top;
	padding: 5px;	
}

table.availabilities p {
	text-align: center;
	vertical-align:text-top;
	/*padding: 5px;*/	
	font-size: 1.0em;
	margin:0;
}

#availabilities-title {
	padding: 8px 0px 5px 5px;
	
}

table.availabilities th.suite, table.availabilities td.suite {
	text-align: center;
}

table.availabilities th.rent, table.availabilities td.rent {
	text-align: center;
}

table.availabilities th.area, table.availabilities td.area {
	text-align: center;
}

table.availabilities th.availability, table.availabilities td.availability {	
	text-align: center;
}

table.availabilities th.description{
	text-align: center;	
}
table.availabilities td.description{
	text-align: left;
}
table.availabilities th.space-plan, table.availabilities td.space-plan {
	text-align: center;
}

table.availabilities th.threed-plan, table.availabilities td.threed-plan {
	
}

table.availabilities td.results-notes {
	color: #ff0000;
	text-align: left;
	padding: 2px;
}















table#availabilities {
	width: 100%;
	clear: both;
	font-size: 1.4em;
	margin: 0 0 20px 0;
}




table#availabilities tr {
	/*border-bottom: 1px solid #fff;*/
}

table#availabilities tr.odd {
	/*background-color: #f2f5f8;*/
}

table#availabilities tr.even {
	/*background-color: #CFE5F3;*/
}





table#availabilities th.icon {
	width: 57px;
	/*padding: 1%*;*/
	text-align: center;
}

table#availabilities th.suite {
	width: 100px;
	/*padding: 1%;*/
	text-align: center;
}

table#availabilities th.area {
	width: 60px;
	/*padding: 1%;*/
	text-align: center;
}

table#availabilities th.rent {
	width: 80px;
	/*padding: 1%*/;
	text-align: center;
}
table#availabilities th.area-contiguous {
	width: 110px;
	/*padding: 1%*/;
	text-align: center;
}

table#availabilities th.availability {
	width: 109px;
	/*padding: 1%*/;
	text-align: center;
}

table#availabilities th.description {
	width: 305px;
	/*padding: 1%*/;
	text-align: center;
}

table#availabilities th.floorplan {
	width: 77px;
	/*padding: 1%*/;
		text-align: center;
}

table#availabilities th.threed {
	width: 59px;
	/*padding: 1%*/;
	text-align: center;
}

table#availabilities td {
	text-align: center;
	vertical-align: text-top;
}

.smalltext {
font-size: 0.6em;
/*float: left;*/
margin-top: -20px;
}


table#availabilities td.icon {
	width: 57px;
	/*padding: 1%*/;
}

table#availabilities td.suite {
	width: 100px;
	/*padding: 1%*/;
}

table#availabilities td.area {
	width: 50px;
	/*padding: 1%*/;
	text-align: right;
}

table#availabilities td.area-contiguous {
	width: 100px;

	/*padding: 1%*/;
	/*padding-right: 33px;*/
	text-align: right;
}

table#availabilities td.availability {
	width: 119px;
	/*padding: 1%*/;
}

table#availabilities td.description {
	width: 334px;
	/*padding: 1%*/;
	text-align: left;
}

table#availabilities td.floorplan {
	width: 77px;
	/*padding: 1%*/;
	text-align: center;
}

table#availabilities td.threed {
	width: 59px;
	/*padding: 1%*/;
}




table#availabilities td {
	padding: 5px;
}

table#availabilities th {
	padding: 5px;
}
















#search-results table.availabilities {
	width: 738px;
	font-size: 1.3em;
	/*border: 1px solid #cacaca;*/
}

#search-results table.availabilities tr.odd {
	background: none;
}

#search-results table.availabilities tr.even {
	background: none;
}

#search-results table.availabilities th {
	background: none;
	padding: 5px;
	font-weight: bold;
	color: #000;
}

#search-results table.availabilities td {
	padding: 2px;	
}

#search-results table.availabilities th.suite {
	
}

#search-results table.availabilities th.suite, #search-results table.availabilities td.suite {
	text-align: center;
}

#search-results table.availabilities th.net-rent, #search-results table.availabilities td.net-rent {
	text-align: center;
}

#search-results table.availabilities th.area, #search-results table.availabilities td.area {
	text-align: center;
}

#search-results table.availabilities th.status, #search-results table.availabilities td.status {	
	text-align: center;
}

#search-results table.availabilities th.description {
	
}

#search-results table.availabilities th.description{ 
	text-align: center;	
}

#search-results table.availabilities td.description {
	text-align:center;
}

#search-results table.availabilities td.description p{
	text-align:left;
	font-size: 1.0em;
	margin:0;
}

#search-results table.availabilities td.results-notes {
	color: #ff0000;
}

#search-results .additional-details {
	/*color: #fff;*/
	padding: 10px;
	
}

#building .additional-details {
	/*color: #fff;*/
	padding: 10px;
	
}
.additional-costs {
	font-size: 1.3em;
	margin: 0 0 5px 0;
	padding: 5px;
	border-top: 1px solid #C9CAC8;
	border-bottom: 1px solid #C9CAC8;
}

.additional-costs .costs-title {
	float: left;
	margin: 0 10px 0 0;
	color: #000;
}

.additional-costs .costs-value {
	float: left;
	margin: 0 15px 0 0;
}

.property-contact {
	float:left;
	width: 100%;
	font-size: 1.3em;
	
}

#index-contacts td {
	vertical-align:text-top;
}


.property-contact .contact-details {
	float: left;
	margin: 0 15px 0 0;
}

.leased {
	text-decoration: line-through;
}

td.status.leased {
	text-decoration: none;
	text-transform: uppercase;
	color: #FF0000;	
}


/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*Main Properties Table (vacancy listings - buildings)*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/

table#properties {
	width: 100%;
	clear: both;
	font-size: 1.4em;
	margin: 0 0 20px 0;
}

table#properties thead {
	
}

table#properties tr {
	border-bottom: 1px solid #fff;
}

table#properties tr.odd {
	background-color: #f2f5f8;
}

table#properties tr.even {
	background-color: #e5ecf1;
}




table#properties th.selection {

}

table#properties th.address {
	
}

table#properties th.icon {
	
}

table#properties th.building {

}

table#properties th.type {
}


table#properties th.availability {
	text-align: right;
}

table#properties th.contiguous {
	text-align: right;
}

table#properties th.contact {
	
}



table#properties td {
	text-align: left;
	padding: 2px;
}

table#properties td.selection {
	
}

table#properties td.address {
	
}

table#properties td.icon {
	
}

table#properties td.building {

}

table#properties td.type {
	
}

table#properties td.availability {
	
	text-align: right;
}

table#properties td.contiguous {
	
	text-align: right;
}

table#properties td.contact {
	
}

/* = Multimedia Tab
-----------------------------------*/
#t3 .content-left {
	float: left;
	width: 755px;
	margin-right: 20px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
}

#t3 .content-right {
	float: left;
	width: 180px;
	margin-bottom: 50px;
	text-align: center;
}

#t3 .content-right img {
	margin-bottom: 5px;
}

ul.gallery {
	list-style: none;
	margin-bottom: 30px;	
}

ul.gallery li {
	float: left;
	width: 300px;
	margin: 0 20px 20px 0;
	list-style: none;
	text-align: center;
}

ul.gallery li img {
	margin-bottom: 5px;
}

ul.documents {
	list-style: none;
	margin-bottom: 20px;	
}

ul.documents li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
	text-align: center;
}

ul.documents li img {
	margin-bottom: 5px;
	border: 1px solid #ccc;
}




/* = Features Tab
-----------------------------------*/
#t2 .content-left {
	float: left;
	width: 470px;
}

#t2 .content-right {
	float: left;
	width: 470px;
}

#t2 .content-right h3 {
	padding: 0 0 0 10px;
}

#t2 .content-right div {
	padding: 0 0 30px 10px;
	font-size: 1.4em
}

#t2 .content-left h3 {
	padding: 0 10px 0 0;
}

#t2 .content-left div {
	padding: 0 10px 30px 0;
	font-size: 1.4em
}

/* = Contacts Tab
-----------------------------------*/
.content-left-contacts {
	float: left;
	width: 290px;
	text-transform: uppercase;
}
.content-right-contacts {
	float: left;
	width: 670px;
	margin-bottom: 20px;
	
}

.content-right-contacts ul {
	float: left;
	margin-right: 30px;
	list-style: none;	
}

.content-right-contacts ul li {
	list-style: none;	
}


/* = Suites Layouts Tab
-----------------------------------*/
#suite #t1 .content-left {
	float: left;
	width: 755px;
	margin-right: 20px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
}

#suite #t1 .content-right {
	float: left;
	width: 180px;
	margin-bottom: 50px;
	text-align: center;
}

#suite #t1 .content-right img {
	margin-bottom: 5px;
}

#suite ul.gallery {
	list-style: none;
	margin-bottom: 30px;	
}

#suite ul.gallery li {
	float: left;
	margin: 0 20px 20px 0;
	list-style: none;
	text-align: center;
}

#suite ul.gallery li img {
	margin-bottom: 5px;
}

#suite ul.documents {
	list-style: none;
	margin-bottom: 20px;	
}

#suite ul.documents li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
	text-align: center;
}

#suite ul.documents li img {
	margin-bottom: 5px;
	border: 1px solid #ccc;
}

.layout-thumb {
	padding-top: 10px;
	margin-bottom: 10px;	
}

.layout-thumb.selected {
	border: 1px solid #ccc;	
}


/* =Footer
-----------------------------------*/



#footer_index {
	width: 960px;
	height: 72px;
	/*background: url(../images/footer-bg.png) 0 0 no-repeat;*/
	margin: 0 0 10px 0;
}

#footer .footer-mailto {
	display: block;
	float: left;
	height: 72px;
	line-height: 72px;
	width: 170px;
	margin-right: 40px;	
}

#footer ul {
	float: left;
	list-style: none;
	margin-right: 30px;
	margin-top: 5px;	
}

#footer ul li,
#suite #footer ul li {
	list-style: none;
	margin: 0;
	font-size: 12px;	
}


ul.footer-contacts {
	list-style: none;
}

ul.footer-contacts li {
	float: left;
	margin-right: 30px;
	list-style: none;	
}

ul.footer-contacts li.last {
	float: left;
	margin-right: 0;	
}

#footer-bottom {
	/*width: 960px;*/
	margin: 0 auto 0 auto;	
}


#footer-bottom div#accessories {
	float: right;
	padding-top:10px;
}

#footer-bottom div#utilities {
	margin: 0;
}
/***************************************
***************************************/

#building-top {
	padding: 0;
	border-bottom: 1px solid #fff;
}



#building-bottom {
	padding: 0;
	margin: 0 0 2px 0;
}



#building-map-button {
	float: right;
	margin: 5px 10px 0 30px;
}

#building-map-button img{
	vertical-align: middle;
	margin: 0 0 0 10px;	
}

#building-map-button a {
	/*color: #fff;	*/
}



#building-name {
	float:left;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#building-gallery {
	float: left;
	/*background-color: #7b7066;*/
	width: 150px;
	height: 201px;
	border-right: 1px solid #fff;
}

#building-high-rise #building-gallery {
	float: left;
	/*background-color: #7b7066;*/
	width: 150px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#building-gallery img {
	margin: 0 10px 10px 10px;
	border: 1px solid #fff;
}

#building #building-image {
	float: left;
	padding: 20px 0 0 20px;
}

#building-high-rise #building-image {
	float: left;
	width: 344px;
	height: 483px;
	border-left: 1px solid #fff;
	padding: 20px 0 0 0;
}




#building-high-rise #building-information {
	float: left;
	width: 151px;
	height: 201px;
	/*background-color: #5ea1d5;*/
	/*color: #fff;*/
	
}

#address {
	float: left;
	font-size: 1.2em;
}


#details {
	margin: 10px 0 10px 0;	
}

.detail {
	font-size: 1.2em;
}

.detail-name {
	float: left;
	/*width: 85px;*/
}

.detail-value {
	float: right;
	text-align: right;
	/*width: 60px;*/
	vertical-align:text-bottom;
}


#building-middle3 {
    float:left;
    width:100%;
   /* background:#5ea1d5;*/
    overflow:hidden;
    position:relative;
	
}
#building-middle2 {
    float:left;
    width:100%;
   /* background:#00619a;*/
    position:relative;
    right:223px;
	border-right: 1px solid #fff;

}
#building-middle {
    float:left;
    width:100%;
    /*background:#5ea1d5;*/
    position:relative;
    right:545px;
	border-right: 1px solid #fff;
}



#building #building-information {
	float: left;
	width: 151px;
	/*background-color: #5ea1d5;*/
	
    position:relative;
    left:787px;
    overflow:hidden;
	padding-top: 20px;
/*		border-right: 1px solid #fff;*/
}

#building #building-description {
	float: left;
	width: 504px;
	margin: 0;	
	/*background-color: #00619a;*/
	position:relative;
    left:828px;
    overflow:hidden;
	padding-top: 20px;
}
	
#building #building-contact {
	float: left;
	width: 182px;
	/*background-color: #5ea1d5;*/
	/*border-left: 1px solid #fff;*/
	position:relative;
    left:871px;
    overflow:hidden;
	padding-top: 20px;
}

.box {
	min-height: 190px;
	padding: 20px;		
}

.building-info-item li {
font-size: 14px;
list-style: none;
}

.building-info-item {
float: left;
/*height: 135px;
overflow: hidden;*/
font-size: 14px !important;
}


















#building-high-rise #building-description {
	float: left;
	width: 380px;
	padding:20px;
}


#building-high-rise #building-contact {
	float: left;
	width: 380px;
	/*background-color: #00619a;*/
	padding: 20px;
}

#building-high-rise #portrait-contact td{
	width:180px;
	padding-bottom:10px;
}

.contact-details {
	font-size: 1.2em;
	margin: 0;
	padding-bottom: 10px;
}

#building-high-rise .contact-details {
	padding: 0;	
}

.cost {
	float: left;
	margin: 0 24px 0 24px;	
}

#content-left {
	float: left;
	width: 564px;
}

#suite #content-left {
	float: left;
	width: 565px;
	background: none;
	padding-top: 5px;
}

#content-right {
	float: left;
	width: 350px;
	/*color: #fff;*/
	/*background-color: #c6d1e3;*/
	margin: 2px 1px 0 0;
	padding: 20px;
}

#suite #content-right {
	float: left;
	width: 353px;
	/*color: #fff;*/
	margin: 2px 0 0 0;
	
	background: none;
}

#building-high-rise #content-left {
	float: left;
	width: 191px;
	border: none;
}

#building-high-rise #content-middle {
	float: left;
	width: 420px;
	padding: 0;
}

#building-high-rise #content-right {
	float: left;
	width: 280px;
	margin: 0;
	padding: 0;
}

#controls {
	height: 36px;
	margin: 0 0 20px 0;
}

.control-icon {
	float: left;
	width: 33px;
	height: 33px;
	margin: 0 5px 0 0;	
}

#floorplan {
	
}

#suite-info {
	/*background-color: #114996;
	padding: 20px;*/
	margin: 0 0 10px 0;
	font-size: 1.3em;
}

/*#suite-info h3 {
padding-bottom: 10px;
}*/

.suite-info-left {
	float: left;
	margin-right: 30px;
	width: 250px;	
}

.suite-info-right {
	float: left;
	width: 375px;
}



.suite-info-right dt.suite-info-title {
	float: left;
	clear: left;
	width: 80px;
	/*display:inline-block;
	zoom:1;
	*display:inline;*/	
}

dd.suite-info-detail {
	color: #939393;
	margin-left: 10px;
	float: left;
	font-size: 14px;
}

dd.suite-info-detail.notes {
	width: 285px;
}

#suite_info_description {
margin-left: 15px;
display: block;
}

.suite-info-item {
	margin: 0 0 0 0;	
}

.suite-info-item-big {
	font-size: 18px;	
}

.suite-info-item.last {
	margin: 0;	
}

p.leasedbuildingmessage_bold {
	font-weight: bold;
}

#suite-description {
	background-color: #114996;
	color: #fff;
	padding: 20px;
	margin: 0 0 10px 0;
}

#suite-contact {
	/*background-color: #114996;
	color: #fff;*/
	padding: 20px;
	font-size: 1.3em;
}

.suite-contact-item-name {
	font-size: 1.2em;
	/*color: #fff;*/
}

.suite-contact-item {
	font-size: 1.0em;
	/*color: #fff;*/
}

#suite-contact img {
	float: right;	
}

#arcestra-download {
	padding: 10px 0 0 0;
	border-top: 1px solid #fff;	
}

/* =OneWTC BUILDING tabbed menu
-----------------------------------*/

ul.tabs {
	
}

ul.tabs li,
#suite ul.tabs li {
	float: left;
	list-style: none;
	height: 80px;
	font-size: 1.4em;
	width: 155px;
	text-align: center;	
	margin: 0 5px 0 0;
}

#tab-content ul.tabs li a {
	display: block;
	width: 155px;
	height: 80px;
	/*color: #939393;*/
}

#tab-content ul.tabs li a span {
	display: inline-block;
	margin-top: 50px;
	/* IE fix */
	zoom: 1;
    *display: inline;	
}


#tab-content ul.tabs li a#t1 {
	background: url(../theme/tabs_menu.png) 0 0 no-repeat;
}

#tab-content ul.tabs li a#t1:active,
#tab-content ul.tabs li a#t1:focus,
#tab-content ul.tabs li a#t1:hover,
#tab-content ul.tabs li a#t1.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) 0 -80px no-repeat;
}

#tab-content ul.tabs li a#t2 {
	background: url(../theme/tabs_menu.png) -160px 0 no-repeat;
}

#tab-content ul.tabs li a#t2:active,
#tab-content ul.tabs li a#t2:focus,
#tab-content ul.tabs li a#t2:hover,
#tab-content ul.tabs li a#t2.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -160px -80px no-repeat;
}

#tab-content ul.tabs li a#t3 {
	background: url(../theme/tabs_menu.png) -320px 0 no-repeat;
}

#tab-content ul.tabs li a#t3:active,
#tab-content ul.tabs li a#t3:focus,
#tab-content ul.tabs li a#t3:hover,
#tab-content ul.tabs li a#t3.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -320px -80px no-repeat;
}

#tab-content ul.tabs li a#t4 {
	background: url(../theme/tabs_menu.png) -480px 0 no-repeat;
}

#tab-content ul.tabs li a#t4:active,
#tab-content ul.tabs li a#t4:focus,
#tab-content ul.tabs li a#t4:hover,
#tab-content ul.tabs li a#t4.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -480px -80px no-repeat;
}

#tab-content ul.tabs li a#t5 {
	background: url(../theme/tabs_menu.png) -640px 0 no-repeat;
}

#tab-content ul.tabs li a#t5:active,
#tab-content ul.tabs li a#t5:focus,
#tab-content ul.tabs li a#t5:hover,
#tab-content ul.tabs li a#t5.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -640px -80px no-repeat;
}

#tab-content ul.tabs li a#t6 {
	background: url(../theme/tabs_menu.png) -800px 0 no-repeat;
}

#tab-content ul.tabs li a#t6:active,
#tab-content ul.tabs li a#t6:focus,
#tab-content ul.tabs li a#t6:hover,
#tab-content ul.tabs li a#t6.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -800px -80px no-repeat;
}


/* =OneWTC SUITES tabbed menu
-----------------------------------*/

/*#suite #tab-content ul.tabs li.last {
	background: url(../images/tabs-fill.png) 0 0 no-repeat;
	width: 315px;	
}*/

#tab-container {
	width: 100%;
	padding: 10px 0 0 0;
}

ul.tabs {
	float: left;	
}

div.fill {
	float: left;
	height: 72px;
	background: url(../theme/tabs-fill.png) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

#suite #tab-content ul.tabs li a#t1 {
	background: url(../theme/tabs_menu.png) -960px 0 no-repeat;
}

#suite #tab-content ul.tabs li a#t1:active,
#suite #tab-content ul.tabs li a#t1:focus,
#suite #tab-content ul.tabs li a#t1:hover,
#suite #tab-content ul.tabs li a#t1.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -960px -80px no-repeat;
}

#suite #tab-content ul.tabs li a#t2 {
	background: url(../theme/tabs_menu.png) -320px 0 no-repeat;
}

#suite #tab-content ul.tabs li a#t2:active,
#suite #tab-content ul.tabs li a#t2:focus,
#suite #tab-content ul.tabs li a#t2:hover,
#suite #tab-content ul.tabs li a#t2.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -320px -80px no-repeat;
}

#suite #tab-content ul.tabs li a#t3 {
	background: url(../theme/tabs_menu.png) -640px 0 no-repeat;
}

#suite #tab-content ul.tabs li a#t3:active,
#suite #tab-content ul.tabs li a#t3:focus,
#suite #tab-content ul.tabs li a#t3:hover,
#suite #tab-content ul.tabs li a#t3.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -640px -80px no-repeat;
}

#suite #tab-content ul.tabs li a#t4 {
	background: url(../theme/tabs_menu.png) -800px 0 no-repeat;
}

#suite #tab-content ul.tabs li a#t4:active,
#suite #tab-content ul.tabs li a#t4:focus,
#suite #tab-content ul.tabs li a#t4:hover,
#suite #tab-content ul.tabs li a#t4.current {
	color: #fff;
	background: url(../theme/tabs_menu.png) -800px -80px no-repeat;
}



/* =Text Formatting
-----------------------------------*/

a:active, a:selected, a:visited { 
    border: none;
    outline: none;
}


a:hover {
	text-decoration: none;
}



/********* Content *************/



a:hover {
	text-decoration: none;

}



#utilities a:hover {
	text-decoration: none;

}


#utilities #languages a:link, #utilities #languages a:visited {
	color: #fff;
	text-decoration: underline;

}

#utilities #languages a:hover {
	color: #fff;
	text-decoration: none;

}

/*.contiguous {
	color: #ff0000;	
}

a.contiguous {
	color: #ff0000;	
}

*/

#search-box h1 {
	float: left;
	display: inline-block;	
	margin: 0;
}

#header h1 {
	font-size: 2.4em;
	padding: 10px 0 5px 0;
	margin: 25px 20px 20px 0;
	text-align: right;
	display: inline-block;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*text-transform: uppercase;*/
	float: right;
	
}

/*#building h1 {
	font-size: 2.4em;
	padding: 10px 0 5px 0;
	margin: 25px 20px 20px 0;
	text-align: right;
	display: inline-block;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
	float: right;
	
}*/


#search #header h1 {
	font-size: 3.6em;
	padding: 10px 0 4px 0;
	margin: 17px 20px 20px 0;
	text-align: right;
	display: inline-block;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*text-transform: uppercase;*/
	float: right;
}



#suite h2 {
	font-size: 2.6em;
	color: #fff;	
}

#search-box h2 {
	float: right;
	display: inline-block;
	margin: 0;
}


#suite h3 {
	border: none;
	/*text-transform: uppercase;*/	
}



#message-incentive h3.message-title {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

#message-incentive img {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

h4 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

h5 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

h6 {

}

p {
	/*font-size: 1.4em;*/
	line-height: 1.4em;
	margin: 0 0 10px 0;
	
}

ul {
	margin: 0 0 10px 0;
}

li {
	list-style: disc;
	margin: 0 0 0 15px;
}

#suite ul#furniture {
	margin: 0 0 20px 0;	
}


#suite ul li,
ul li.suite-contact-item {
	list-style: none;
	font-size: 1.4em;	
	margin: 0 0 5px 0;
}

#building-downloads ul{
	margin: 0;
}

#building-downloads ul li {
	float: left;
	list-style: none;
	margin: 0 20px 10px 0;
	font-size: 1.4em;
}

#building-downloads ul li.last {
	margin: 0;
}

#building-downloads ul li img {
	margin: 0 10px 0 0;	
	vertical-align: middle;
}

strong {
	font-weight: bold;	
}

em {
	font-style:italic;
}

.contigious {
	color: #FF0000;	
}

#arcestra-download {
	margin: 15px 0 15px 0;
}

#arcestra-download ol li{
	font-size: 1.2em;
}


br {
	clear: left;

}

.clear
{
	clear: both;
	font-size: 0px;
	line-height: 0px;
	visibility: collapse;
}


/* =Menus
-----------------------------------*/
#main-menu {
	float: right;
	/*height: 67px;*/
	/*height: 90px;*/
	/*width: 500px;*/
	margin: 0;
	padding: 0;
}

#main-menu ul {
	float: right;
	margin: 0;
	padding: 5px 0 5px 0;
}

#main-menu ul li {
	float: left;
	list-style: none;
	margin: 0 20px 0 0;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	height: 70px;
	line-height: 70px;
}

#main-menu ul li.first {
	
}

#main-menu ul li.last {
	margin: 0;
}

#main-menu ul li a:link, #main-menu ul li a:visited {
	color: #7f7f7f;
	text-decoration: none;
}

#main-menu ul li a:hover {
	color: #e51b24;
}

#main-menu ul li a.current {
	color: #e51b24;
}

#building-menu {
	background: url(../images/bg-building-menu.png) no-repeat;
	width: 920px;
	height: 115px;
	clear: both;
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
}

#building-menu ul {
	
}

#building-menu ul li {
	float: left;
	list-style: none;
	height: 112px;
	font-size: 1.4em;
	width: 160px;
	text-align: center;	
	margin: 0;
}

#building-menu ul li a.available-space:link, #building-menu ul li a.available-space:visited {
	float: left;
	list-style: none;
	width: 160px;
	height: 32px;
	padding: 80px 0 0 0;
	display: block;
	text-decoration: none;
	background: url(../images/tab-available-space.png) center 1px no-repeat;	
}

#building-menu ul li a.available-space:hover {
	background: url(../images/tab-available-space.png) center -111px no-repeat;
	color: #fff;	
}

#building-menu ul li a.summary:link, #building-menu ul li a.summary:visited {
	float: left;
	list-style: none;
	width: 160px;
	height: 32px;
	padding: 80px 0 0 0;
	display: block;
	text-decoration: none;
	background: url(../images/tab-summary.png) center 1px no-repeat;	
}

#building-menu ul li a.summary:hover {
	background: url(../images/tab-summary.png) center -111px no-repeat;
	color: #fff;	
}

#building-menu ul li a.specifications:link, #building-menu ul li a.specifications:visited {
	float: left;
	list-style: none;
	width: 160px;
	height: 32px;
	padding: 80px 0 0 0;
	display: block;
	text-decoration: none;
	background: url(../images/tab-specifications.png) center 1px no-repeat;	
}

#building-menu ul li a.specifications:hover {
	background: url(../images/tab-specifications.png) center -111px no-repeat;
	color: #fff;	
}

#building-menu ul li a.map:link, #building-menu ul li a.map:visited {
	float: left;
	list-style: none;
	width: 160px;
	height: 32px;
	padding: 80px 0 0 0;
	display: block;
	text-decoration: none;
	background: url(../images/tab-map.png) center 1px no-repeat;	
}

#building-menu ul li a.map:hover {
	background: url(../images/tab-map.png) center -111px no-repeat;
	color: #fff;	
}

#report-menu {
	clear: both;
	height: 36px;
	margin: 0 0 20px 0;	
}

#report-menu ul li {
	float: left;
	list-style: none;
	width: 94px;
	height: 36px;
	text-align: center;
	font-size: 1.4em;	
}

#report-menu ul li a.summary:link, #report-menu ul li a.summary:visited {
	display: block;
	width: 94px;
	height: 36px;
	line-height: 36px;
	background: url(../images/report-menu-tabs.png) 0 0 no-repeat;
	text-decoration: none;
}

#report-menu ul li a.summary:hover {
	color: #fff;
	background: url(../images/report-menu-tabs.png) 0 -36px no-repeat;
}

#report-menu ul li a.map:link, #report-menu ul li a.map:visited {
	display: block;
	width: 94px;
	height: 36px;
	line-height: 36px;
	background: url(../images/report-menu-tabs.png) -94px 0 no-repeat;
	text-decoration: none;
}

#report-menu ul li a.map:hover {
	color: #fff;
	background: url(../images/report-menu-tabs.png) -94px -36px no-repeat;
}

.footer-menu {
	float: left;
	margin: 0 50px 0 0;	
}

.footer-menu ul {
	margin: 0;
	padding: 0;
}

.footer-menu ul li {
	list-style: none;
	margin: 0 0 5px 0;
	font-size: 1.4em;
}

.footer-menu ul li.first {
	
}

.footer-menu ul li.last {
	margin: 0;
}

.footer-menu ul li a:link, .footer-menu ul li a:visited {
	color: #7f7f7f;

	text-decoration: none;
}

.footer-menu ul li a:hover {
	color: #e51b24;
}

/*----------------------*/


/************* Form Styles *************/
#search-form {
	margin: 20px auto 0 auto;
	/* float: right; */
	/* width: 756px; */
}

#search-form table {
	/* width: 920px; */
	margin: 0 auto 0 auto;
}

#search-form td {
	
}

label {
	
}





#search-form td.search-field {
	width: 140px;
}




/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */









#location-map {
	position: relative;
	/*-moz-border-radius: 10px;
	border-radius: 10px;*/
	background-color: #eee;
	width: 100%;
	height: 400px;
	float: left;
	/*-moz-box-shadow:    inset 0 0 10px #666;
   -webkit-box-shadow: inset 0 0 10px #666;
   box-shadow:         inset 0 0 10px #666;*/
   overflow: hidden;
}




.top-shadow-left-corner {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	/*margin: 0px 10px 0px -10px;*/
	background:url(../images/shadow-top-left-corner.png) no-repeat;
}

.top-shadow-right-corner {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background:url(../images/shadow-top-right-corner.png) no-repeat;
}


.bottom-shadow-left-corner {
	position:absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background:url(../images/shadow-bottom-left-corner.png) no-repeat;
}

.bottom-shadow-right-corner {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background:url(../images/shadow-bottom-right-corner.png) no-repeat;
}



.left-shadow {
	position: absolute;
	left:0;
	top: 10px;
	width: 10px;
	height: 380px;
	background:url(../images/shadow-left.png) repeat-y;
}

.right-shadow {
	position: absolute;
	right:0;
	top: 10px;
	width: 10px;
	height: 380px;
	background:url(../images/shadow-right.png) repeat-y;
}


#total-results {
	float: left;
	font-size: 1.2em;
	margin-top: 5px;
}

#total-selected {
	float: left;
	font-size: 1.2em;
	margin-top: 5px;
}

span.cust_check {
	display: block;
	/*position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;*/
	color: #fff;
	width: 15px;
	height: 15px;	
	margin: 10px 0 0 19px;
	/*padding: 5px;
	text-align:center;*/
		
}

span.cust_check a {
	display: block;
	background: #fff;
	color: #fff;
	text-decoration: none;
	width: 15px;
	height: 15px;
	line-height: 20px;
	border: 1px solid #003F72;
}

span.cust_check a.isChecked {
	background: #fff url(../theme/bg-cust-check.png) left top no-repeat;
	color: #fff;
	text-decoration: none;	
}


.greyedout {
color: #d3d3d3;
}




.ausu-suggest, .ausu-suggest2, .ausu-suggest3, .ausu-suggest4, .ausu-suggest5, .ausu-suggest6
{
    position:relative;
	display: inline-block;
	float: left;
	vertical-align: middle;
	/*margin-left: 3px;*/
}

.ausu-suggest input
{
    /*padding: 5px;*/
	width: 125px;
    border:1px #CCC solid;
    font-size:14px;
}
.ausu-suggestionsBox
{
    position: absolute;
    left: 0px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
    width: 178px;
    padding: 10px 0 0 0;
    color: #fff;
    display: none;
    padding: 0 0 0 0;
	z-index: 999;
	border: 1px solid #CCC;
	/*box-shadow: 0 2px 4px #CCC;
	-webkit-box-shadow: 0 2px 4px #CCC;*/
}

.ausu-suggestionsBox ul {
    margin: 0;
	padding: 0;
	background-color: #fff;
	text-align: left;
	font-size: 1.4em;
	list-style: none;
}

.ausu-suggestionsBox ul li {
	display: block;	
	margin: 0;
	text-indent: 4px;
	padding: 6px 0 6px 0;
	color: #333;
	background-color: #fff;
	cursor: pointer;
}

.ausu-suggestionsBox ul li:hover {
	background-color: #ccc;
	color: #fff;
}

.ausu-suggestionsBox ul li a:link, .ausu-suggestionsBox ul li a:visited {

    display: block;
    text-indent: 4px;
    width: 100%;
    color: #333;
    text-decoration: none;
    padding: 6px 0 6px 0;
}

.ausu-suggestionsBox ul li a:hover {
	background-color: #ccc;
	color: #fff;	
}

.ausu-suggestionsBox ul li.selected {
	background-color: #ccc;
	color: #fff;
}

div.fullyleased1 {
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	margin: -10px 0 0 0;
}

div.fullyleased2 {
	text-align: center;
	font-size: 1.4em;
	margin: 5px 0 0 0;
}

input#show_no_vacancy {
	vertical-align: bottom;
	margin-left: 10px;
}

td.bvu {
	text-align: right;
}