body {
    background-color: #f5f5f5;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #989898;
    height: auto;
}

@media (min-width: 1200px) {
    .fs_col-primary,
    .fs_col-secondary {
        padding: 0;
    }

    .fs_col-primary {
        padding-right: 40px;
    }
}

#fs_masthead-building {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.fs_building-utilities {
    /*position: absolute;*/
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    z-index: 999;
}

@media (min-width: 992px) {
    .fs_building-utilities {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.fs_building-utilities .fs_container {
    padding: 0;
}

.fs_nav-utilities,
.fs_broker-info-link {
    font-size: 12px;
    font-size: 0.75rem;
}

.fs_nav-utilities .fs_nav-link-icon,
.fs_broker-info-link .fs_nav-link-icon {
    font-size: 14px;
    font-size: 0.875rem;
}

.fs_btn-broker-package {
    font-size: 0.875rem;
}

.fs_btn-broker-package .fs_btn-icon {
    font-size: 1rem;
}
.fs_btn-broker-package .fs_btn-text {
    font-size: 0.875rem;
    vertical-align: middle;
}

#dropdownLanguage::after {
    display: none;
}

@media (min-width: 992px) {
    .fs_nav-utilities,
    .fs_broker-info-link {
        font-size: 14px;
        font-size: 0.875rem;
    }

    .fs_nav-utilities .fs_nav-link-icon,
    .fs_book-viewing-link .fs_nav-link-icon {
        font-size: 0.875rem;
    }

    .fs_book-viewing-link {
        font-size: 0.875rem;
    }

    .fs_btn-broker-package,
    .fs_btn-back {
        font-size: 0.875rem;
    }

    .fs_btn-broker-package .fs_btn-icon {
        font-size: 24px;
        line-height: 14px;
        margin-right: 10px;
    }
    
    .fs_btn-back .fs_btn-icon {
        font-size: 1rem;
    }
    .fs_btn-broker-package .fs_btn-text,
    .fs_btn-back  .fs_btn-text {
        font-size: 0.875rem;
        vertical-align: middle;
    }
}


.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.fs_building-main {
    padding-top: 20px;
}

@media (min-width: 992px) {
    .fs_building-main {
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    .fs_page-header {
        position: absolute;
        margin-top: -75px;
        z-index: 999;
        background-color: #f5f5f5;
        padding: 20px 40px 0 40px;
        margin-left: -40px;
    }
}

.fs_page-header h2.fs_suite-address {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*            .owl-dots {
                position: absolute;
                bottom: 0;
                right: 0;
            }*/

.fs_page-building .fs_site-content {
    padding-top: 20px;
    position: relative;
}

@media (min-width: 992px) {
    .fs_page-building .fs_site-content {
        padding-top: 40px;
    }    
}

.fs_section.fs_building-announcement {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .fs_section.fs_building-announcement {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.fs_alert {
    position: relative;
    padding: 25px 50px 25px 20px;
    border-radius: 10px;
}

.fs_alert-danger {
    color: #a30046;
    background-color: #f6cfe1;
    border-color: #f6cfe1;
}

.fs_alert-text {
    font-size: 0.9375rem;
}

.fs_alert .close {
    float: right;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    color: #a30046;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    top: 25px;
    right: 15px;
}

.fs_alert-danger .close .fs_icon-clear {
    color: #a30046;
}

.fs_announcement-icon {
    margin-right: 15px;
}

.fs_announcement-icon .fs_icon-announcement {
    vertical-align: middle;
}

.tab-content {
    padding-top: 20px;
}

@media (min-width: 992px) {
    .tab-content {
        padding-top: 40px;
    }
}            

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

.fs_link-icon,
.fs_link-text,
.fs_btn-icon,
.fs_btn-text,
.fs_nav-link-icon,
.fs_nav-link-text {
    vertical-align: middle;
}

.fs_section {
    margin-bottom: 0px;
}

.fs_building-notes {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .fs_section {
        margin-bottom: 20px;
    }
}

.fs_building-specifications,
.fs_building-notes {
   /* margin-right: -20px;
    margin-left: -20px;*/
}

@media (min-width: 992px) {
    .fs_building-features {
        max-width: 715px;
    } 

    .fs_section {
        margin-bottom: 40px;
    }

    .fs_building-specifications {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.card {
    border-radius: 0px;
}

@media (min-width: 992px) {
    .card {
        border-radius: 10px;
    }
}

.fs_lead-contact .card {

}

@media (min-width: 992px) {
    .fs_lead-contact .card {
        -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    }
}

.fs_card-specifications {
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 0;
    max-width: 575px;
}

.fs_specification-value {
    text-align: right;
}

.fs_card-sections {
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 0;
    max-width: 730px;
}

.fs_sections-content {
    font-size: 0.875rem;
    min-height: 24px;
}

.card-title-section h4 {
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: .5rem;
}

.table.fs_contacts-table td, .table.fs_contacts-table th {
    border-top: 1px solid transparent;
}

.fs_col-feature-icon {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.fs_icon-feature {
    font-size: 24px;
    color: #ccc;
}

.fs_col-feature-value {
    text-align: center;
}

@media (min-width: 992px) {
    .fs_col-feature-icon {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        text-align: left;
    }

    .fs_icon-feature {
        font-size: 48px;
    }

    .fs_col-feature-value {
        text-align: left;
        align-self: center;
    }
}

.fs_page-building .other-costs {
    display: none;
    background-color: #e9e9e9;
    border-radius: 10px;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 15px 20px;
}

.other-costs-list {
    list-style: none;
    margin-bottom: 0;
}

.other-costs-list li {
    margin-bottom: 3px;
}

.other-costs-list li:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .fs_page-building .other-costs {
        display: block;
    }    
}

.fs_page-building h5.other-costs-title {
    font-size: 14px;
    font-size: 0.875rem;
    color: #a0a0a0;
    font-weight: 500;
    margin-bottom: 8px;
}

.fs_col-card-notes-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    text-align: center;
}

.fs_notes-icon {
    font-size: 48px;
    font-size: 3rem;
    color: #ccc;
}

h2.fs_notes-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 0.875rem;
    color: #ccc;
}

h3.fs_notes-title {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .fs_notes-icon {
        font-size: 80px;
    }   

    h2.fs_notes-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
}


.fs_lead-contact {
    display: none;
}

@media (min-width: 992px) {
    .fs_lead-contact {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 25%;
        z-index: 999;
    }

}

.fs_card-features {
    background-color: #e9e9e9;
    border-color: transparent;
    border-radius: 10px;
}

@media (min-width: 992px) {
    .fs_card-features .card-body {
        padding: 30px 70px;
    }
    .fs_card-features .card-body .row {
        margin-bottom: 30px;
    }

    .fs_card-features .card-body .row:last-child {
        margin-bottom: 0;
    }
}

.fs_card-notes {
    background-color: transparent;
    border-color: transparent;
}

.fs_card-lead-contact,
.fs_card-contacts {
    border-color: transparent;
}


.fs_lead-contact-image {
    text-align: center;                
}

.fs_lead-contact-image img {
    max-height: 150px;
}

h3.fs_lead-contact-title {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

.fs_lead-contact-list {
    list-style: none;
    padding-left: 0;
}

.fs_lead-contact-list li {
    text-align: center;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-pills .nav-link {
    border-radius: 0;
    background-color: #21bfdc;
    color: #fff;
    font-size: 12px;
    font-size: 0.75rem;
}

@media (min-width: 992px) {
    .nav-pills .nav-link {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
    }
}

.nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-pills .nav-item:last-child .nav-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #21bfdc;
    background-color: #fff;
}*/

.nav-pills .fs_nav-link-icon {
    font-size: 14px;
    font-size: 0.857rem;
    line-height: 14px;
}

@media (min-width: 992px) {
    .nav-pills .fs_nav-link-icon {
        font-size: 24px;
        margin-right: 10px;
    }
}

h1.fs_suite-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    color: #000;
}
@media (min-width: 992px) {
    h1.fs_suite-title {
        font-size: 2rem;
        line-height: 2rem;
    }
}

h2.fs_suite-address {
    font-size: 0.75rem;
}

h3.fs_card-feature-title {
    font-size: 0.75rem;
    margin-bottom: 0;
}

p.fs_feature-value {
    font-size: 1rem;
    color: #000;
}

@media (min-width: 992px) {
    p.fs_feature-value {
        font-size: 1.25rem;
        color: #000;
        margin: 0;
        line-height: 1.25em;
    }
}

.card-title h3 {
    font-size: 0.875rem;
    font-weight: bold;
}

.card-title-type h4 {
    font-size: 0.675rem;
    font-weight: bold;
    margin-top: .5rem;
}

h3.fs_notes-title {
    font-size: 1rem;
    font-weight: bold;
}

p.fs_notes-text, .fs_notes p {
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

p.fs_notes-text:last-child {
    margin-bottom: 0;
}

.fs_specification-label,
.fs_specification-value {
    font-size: 0.875rem;
    min-height: 24px;
}

.fs_specification-value .material-icons {
    font-size: 18px;
}

.fs_building-contacts {
    margin-left: -20px;
    margin-right: -20px;
    background-color: #fff;
    padding: 30px 20px 30px 20px;
}

@media (min-width: 992px) {
    .fs_building-contacts {
        /*position: absolute;
        top: 40px;
        right: 0;
        width: 25%;
        z-index: 999;
        margin: 0;*/
        margin-left: 0;
        margin-right: 0;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 0px 0px #e8eae9;
        -moz-box-shadow: 5px 5px 0px 0px #e8eae9;
        box-shadow: 5px 5px 0px 0px #e8eae9;
       /* min-width: 289px;*/
    }
    
    .fs_building-contacts.fixed {
        position: fixed;
        width: 279px
    }
}

@media (min-width: 1200px) {
    .fs_building-contacts.fixed {
        position: fixed;
        width: 285px
    }
}

.fs_building-contact {
    flex-wrap: nowrap;
}

.fs_building-contacts-list {
    margin: 0;
    padding: 0;
}

.fs_building-contact {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.fs_building-contact:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.fs_col-contact-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-left: 0;
}

@media (min-width: 992px) {
    .fs_col-contact-icon {
        display: none;
    }
}

.fs_col-contact-details {
    padding-right: 0;
}

@media (min-width: 992px) {
    .fs_col-contact-details {
        padding-left: 0;
    }
}

.fs_contact-details-list {
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-size: 0.875rem;*/
}

.fs_contact-details-list li {
    margin-bottom: 1px;
}

.fs_contact-details-list li:first-child {
    color: #000;
    font-weight: bold;
}

.fs_contact-details-list li:last-child {
    margin-bottom: 0;
}

/*.fs_contact-link {
    border-radius: 50%;
    background-color: #21bfdc;
    width: 70px;
    height: 70px;
    padding: 15px;
    text-align: center;
}*/

.fs_contact-details-list .fs_contact-email {
    font-weight: bold;
}

.fs_contact-link-icon,
.fs_contact-link-text {
    color: #fff;
}

.fs_contact-link-text {
    font-size: 9px;
}

.fs_suite-loading,
.fs_suite-power,
.fs_suite-ceiling {
    display: none;
}

@media (min-width: 992px) {
    .fs_suite-loading,
    .fs_suite-power,
    .fs_suite-ceiling {
        display: table-cell;
    }    
}

.fs_building-map {
    margin-left: -20px;
    margin-right: -20px;
}

@media (min-width: 992px) {
    .fs_building-map {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 755px;
    }
}

.fs_icon-clear {
    color: #db1a7a;
}

.fs_icon-done {
    color: #2baf5f;
}

#fs_building-carousel {
    height: 325px !important;
    overflow: hidden;
    /*margin-top: 40px;*/
    background-color: #989898;
    padding-top: 40px;
}

@media (min-width: 992px) {
    #fs_building-carousel {
        height: 450px !important;
        /*margin-top: 40px;*/
        padding-top: 100px;
        padding-bottom: 100px;
    }
}


.fs_carousel-container {
    position: relative;
    overflow: hidden;
    margin-top: 35px;
}

@media (min-width: 992px) {
    .fs_carousel-container {
        margin-top: 0px;
    } 
}

.fs_carousel-next,
.fs_carousel-prev {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 1000;
}

@media (min-width: 992px) {
    .fs_carousel-next,
    .fs_carousel-prev {
        position: absolute;
        top: 50%;
        margin-top: -48px;
        z-index: 1000;
    }
}

.fs_carousel-prev {
    left: 2.5%;
}

.fs_carousel-next {
    right: 2.5%;
}

@media (min-width: 992px) {
    .fs_carousel-prev {
        left: 5%;
    }

    .fs_carousel-next {
        right: 5%;
    }    
}

.fs_carousel-next i,
.fs_carousel-prev i {
    font-size: 60px;
}

@media (min-width: 992px) {
    .fs_carousel-next i,
    .fs_carousel-prev i {
        font-size: 96px;
    }    
}

/*            .owl-dots {
                position: absolute;
                bottom: 10px;
                right: 20px;
                background-color: rgba(255,255,255,0.4);
                padding: 10px 15px;
                border-radius: 8px;
                line-height: 15px;
            }
            
            .owl-theme .owl-dots, .owl-theme .owl-nav {
                text-align: center;
                -webkit-tap-highlight-color: transparent;
            }
            
            .owl-theme .owl-nav.disabled+.owl-dots {
                margin-top: 0px;
            }
            
            .owl-theme .owl-dots .owl-dot span {
                width: 15px;
                height: 15px;
                line-height: 15px;
                margin: 0px 5px;
                background: #21bfdc;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity .2s ease;
                border-radius: 50%;
            }
            
            .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
                background: #fff;
            }*/

.fs_page-building .nav-pills .nav-link,
.fs_nav-utilities .nav-link {
    padding: 0.5rem 0.75rem;
}

.fs_toolbar-link {
    padding: 0.25rem 1rem 0.25rem 0;
}

@media (min-width: 992px) {
    .fs_nav-utilities .nav-link {
        padding: 0.5rem 1rem;
    }
    
    .fs_nav-pills.nav-pills .nav-link {
        padding: 15px 20px;
        line-height: 18px;
    }

    .fs_toolbar-link {
        padding: 0.5rem 1rem;
    }
}

#fs_modal-broker-info input,
#fs_modal-broker-info textarea,
#fs_modal-broker-package input,
#fs_modal-broker-package textarea{
    margin-bottom: 20px;
}

.fs_gallery {
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
}

.fs_gallery .col {
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .fs_gallery {
        max-width: 720px;
    }    
}

.fs_gallery .fs_gallery-thumbnail {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
}

.fs_gallery-videos .fs_gallery-thumbnail {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .fs_gallery .fs_gallery-thumbnail {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .fs_gallery-videos .fs_gallery-thumbnail {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .fs_building-suites {
        max-width: 755px;
    }
}

.fs_building-suites-table {
    font-size: 14px;
    font-size: 0.875rem;
}

.fs_building-suites-table.table td, .fs_building-suites-table.table th {
    border-top: none;
}

.fs_building-suites-table.table thead th {
    border-bottom: none;
}

@media (min-width: 992px) {
    .fs_building-suites-table.table td, .fs_building-suites-table.table th {
        padding: 15px 20px;
    }    
}


h3.fs_media-section-title {
    font-size: 1rem;
}

.fs_media-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.fs_media-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fs_thumbnail-3d {
    overflow: hidden;
}

.fs_thumbnail-3d .caption {
    font-size: 12px;
    font-size: 0.75rem;
}



/*// override bootstrap where it indents the 2nd radio button inline with a previous radio button
// idk what that's all about but there it is.*/
.form-check-inline+.form-check-inline {
    margin-left: 0px !important;
}


.cover{
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
}


