body.fs_page-building-integrated {
    height: calc(100% - 81px);
    overflow: hidden;
}

.fs_page-building-integrated #fs_row-main {
    height: 100%;
}

.fs_page-building-integrated #fs_content {
    height: 100%;
}

.fs_page-building-integrated .fs_site-main {
    height: 100%;
}

.fs_page-building-integrated #fs_row-main-inner {
    height: 100%;
}

.fs_page-building-integrated #fs_results,
.fs_page-building-integrated #fs_building-integrated {
    height: calc(100% - 55px);
    overflow-y: scroll;
}

#fs_masthead-building {
    position: static;
}

.fs_ui-controls .nav .nav-item:first-child {
    margin-right: 0px;
}

@media(min-width: 992px) {
    .fs_view-results.fs_view-building #fs_building-integrated {
        flex: 1 1 50%;
        max-width: 50%;
        /*height: 100%;*/
    }
        
    .fs_view-results.fs_view-building  #fs_results {
        flex: 1 1 50%;
        max-width: 50%;
        /*height: auto;*/
    }

    .fs_search-result.is-selected {
        background-color: #f5f5f5;
    }
    
    .fs_view-grid .fs_search-result:nth-child(2) {
        background-color: transparent;
    }
    
    .fs_view-building.fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .fs_view-building.fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1400px) {
    .fs_view-results.fs_view-building #fs_results {
        flex: 1 1 39%;
        max-width: 39%;
    }

    .fs_view-results.fs_view-building #fs_building-integrated {
        flex: 1 1 61%;
        max-width: 61%;
    }
}

@media (min-width: 992px) {
    .fs_page-header {
        position: absolute;
        margin-top: -75px;
        z-index: 999;
        background-color: #f5f5f5;
        padding: 20px 40px 0 40px;
        margin-left: 0px;
    }
    
    .fs_page-building-integrated .nav-pills .nav-link {
        padding: 15px 20px;
        line-height: 18px;
    }
    
    .fs_page-building-integrated .fs_site-content {
        padding: 0 40px;
    }
}

.fs_page-building-integrated .fs_site-content {
    padding-top: 40px;
}

@media (min-width: 992px) {
    .fs_page-building-integrated .fs_site-content {
        padding-top: 40px;
    }
}

.fs_search-result .table thead th:nth-child(n+6), .fs_search-result .table tbody th:nth-child(n+6), .fs_search-result .table tbody td:nth-child(n+6) {
    display: none;
}

@media (min-width: 1200px) {
    .fs_building-contacts.fixed {
        position: fixed;
        width: 265px;
    }
    
    .fs_view-filter .fs_building-contacts.fixed {
        position: fixed;
        width: 206px;
    }
}

.fs_page-building-integrated .other-costs {
    display: none;
    background-color: #e9e9e9;
    border-radius: 10px;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 15px 20px;
}

.other-costs-list {
    list-style: none;
    margin-bottom: 0;
}

.other-costs-list li {
    margin-bottom: 3px;
}

.other-costs-list li:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .fs_page-building-integrated .other-costs {
        display: block;
    }    
}

.fs_page-building-integrated h5.other-costs-title {
    font-size: 14px;
    font-size: 0.875rem;
    color: #a0a0a0;
    font-weight: 500;
    margin-bottom: 8px;
}

h1.fs_suite-title {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .fs_building-main .fs_page-header h2.fs_suite-address {
        margin-top: 0px;
    }
}

.fs_page-building-integrated .fs_hero-image {
    height: 325px;
    overflow: hidden;
    margin-top: 0;
}

.fs_page-building-integrated .fs_hero-image img {
    height: 325px;
}

.fs_page-building-integrated .fs_carousel-container {
    margin-top: 0;
}

.fs_container {
    position: relative;
}



