body {
    background-color: #f5f5f5;
}

.fs_section-favourites {
    padding-left: 15px;
    padding-right: 15px;
}

.fs_user-favourites {
    font-size: 14px;
    font-size: 0.875rem;
}

@media (min-width: 992px) {
    .fs_section-favourites {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.fs_page-favourites .fs_page-title {
    color: #000;
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: normal;
    margin: 60px 0;
}

@media (min-width: 992px) {
    .fs_favourite {
        margin-left: -4px; /* remove whitespace between inline-block elements */
    }
    
    .fs_favourite:first-child {
        margin-left: 0;
    }
    
    .fs_favourites-headings {
        max-width: 325px;
    }
    
    h5.fs_favourite-title {
        font-size: 16px;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    
    h6.fs_favourite-address {
        font-size: 14px;
        font-size: 0.875rem;
    }
    
    .fs_favourite-headings-list li, .fs_favourite-headings-other-costs li {
        font-size: 14px;
        min-height: 41px;
        font-size: 0.875rem;
    }
    
    .fs_favourite-utilities-list {
        height: 100px;
        font-size: 14px;
        font-size: 0.875rem;
        margin-bottom: 41px;
    }
    
    .fs_favourite-details-list li, .fs_favourite-details-other-costs li {
        font-size: 14px;
        font-size: 0.875rem;
        padding: 10px 0;
        min-height: 41px;
    }
    
    .fs_favourite-utilities-list li a .fs_nav-link-icon {
        font-size: 24px;
    }
    
    .fs_favourite-headings-other-costs {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 1rem;
    }
    
    .fs_favourite-details-other-costs {
        margin-top: 1rem;
    }
    
    .fs_favourite:last-child .fs_favourite-details-other-costs {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .fs_favourite-remove {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 999;
        background-color: #f5f5f5;
        height: 24px;
    }
    
    .fs_favourite-headings-list li:nth-child(odd), .fs_favourite-headings-other-costs li {
        background-color: #eaebed;
    }
    
    .fs_favourite-headings-list li:first-child {
        min-height: 41px;
        background-color: transparent;
    }
    
    .fs_favourite-details-list li:nth-child(odd), .fs_favourite-details-other-costs li {
         background-color: #eaebed;
    }
    
    .fs_favourite-details-list li:first-child {
        font-weight: 500;
        color: #000;
        background-color: transparent;
    }
    
    .fs_favourite-headings-other-costs {
        margin-left: -15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 15px;
        background-color: #eaebed;
        margin-top: 15px;
    }
    
    .fs_favourite-details-other-costs {
        background-color: #eaebed;
        margin: 0;
        padding: 20px 15px;
        margin-top: 15px;
    }
}



