html,body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #989898;
}

body {
    height: 100%;
    height: calc(100% - 95px);
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 20px;
    padding-left: 20px;
}

.fs_container {
    padding-right: 20px;
    padding-left: 20px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 992px) {
    body {
        height: auto;
    }
    
    body.fs_view-filter {
        height: auto;
    }
    
    body.fs_view-map {
        height: calc(100% - 81px);
        overflow: hidden;
    }
    
    body.fs_view-filter.fs_view-map {
        height: calc(100% - 81px);
        overflow: hidden;
    }
}

#fs_masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

a {
    color: #21bfdc;
    text-decoration: none;
}

a:hover {
    color: #21bfdc;
    text-decoration: underline;
}

.fs_search-container {
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;*/
    width: 100%;
    /*z-index: 999;*/
    background-color: #fff;
    /*border-bottom: 1px solid #e5e5e5;*/
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
}

@media (min-width: 992px) {
    .fs_search-container {
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
    }
}

.fs_search {
    background-color: #fff;
    /*border-bottom: 1px solid #e5e5e5;*/
    padding: 15px 20px 17px 20px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
}

@media (min-width: 992px) {
    .fs_search {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.col-toggle-filter {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

@media (min-width: 992px) {
    .fs_search-container {
        border-bottom: none;
    }

    .col-toggle-filter {
        flex: 1 1 21.25%;
        max-width: 21.25%;
    }

    .col-search {
        padding-left: 0;
    }
}

#fs_row-main {
    height: 100%;
    margin-top: 95px;
    /*height: calc(100% - 101px);*/
}

#fs_content,
.fs_site-main,
#fs_row-main-inner {
    height: 100%;
}

#fs_filter {
    position: fixed;
    top: 95px;
    height: calc(100% - 95px);
    left: -100%;
    width: 100%;
    /*height: 100%;*/
    background-color: #fff;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #e5e5e5;
    background-color: #f4f5f7;
    font-size: 14px;
    overflow-y: auto;
}

@media (min-width: 992px) {
    #fs_filter {
        z-index: 998;
        height: auto;
    }
}

.fs_thechips {
    display: inline-block;
}

.fs_view-filter #fs_filter {
    left: 0px;
}

.fs_filter-container {
    padding: 40px;
}

.filter-close {
    margin-bottom: 20px;
}

#fs_content {
    flex: 1 1 100%;
    transition: all 0.3s ease;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}

.btn.btn-primary {
    border-radius: 10px;
    background: #21bfdc;
    /*padding: 0.5rem 1.25rem;*/
    padding: 10px 20px;
}

.fs_subscribe {
    float: right;
    text-decoration: none;
}

.fs_subscribe:hover {
    text-decoration: none;
}

@media (min-width: 992px) {
    #fs_row-main {
        flex-wrap: nowrap;
        margin-top: 0;
    }
    
    #fs_filter {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
    }

    #fs_filter {
        flex: 1 1 0%;
        transition: all 0.3s ease;
        overflow-y: auto;
        max-width: 0;
        width: 0;
        border-color: transparent;
        border: none;
    }

    .fs_view-filter #fs_filter {
        flex: 1 1 21.25%;
        max-width: 21.25%;
        width: 100%;
    }
    
    #fs_content {
        flex: 1 1 100%;
        transition: all 0.3s ease;
        overflow: visible;
    }
    
    .fs_view-filter #fs_content {
        flex: 1 1 78.75%;
         max-width: 78.75%;
        height: auto;
    }
    
}

#fs_map {
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#themap {
    height: 100%;
    width: 100%;
}

#fs_results {
    flex: 1 1 100%;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

.fs_view-map #fs_results,
.fs_view-map #fs_map {
    height: 50%;
}

.fs_search-results {
    /*padding-top: 15px;*/
}

@media (min-width: 992px) {
    .fs_search-results {
        padding-top: 0;
    }
}

.fs_view-map #fs_results .fs_search-results {
    overflow-y: auto;
    height: calc(100% - 35px);
    /*padding: 0 0 0 0;*/
}

@media (min-width: 992px) {
    .fs_view-map #fs_results .fs_search-results {
        overflow-y: auto;
        height: calc(100% - 94px);
        align-content: flex-start;
        /*padding: 0 15px 0 0;*/
    }
}

.fs_view-map-full #fs_results {
    height: 35px;
    overflow: hidden;
}

.fs_view-map-full #fs_map {
    height: calc(100% - 35px);
}

@media(min-width: 992px) {
    #fs_row-main {
        /*height: calc(100% - 67px);*/
        height: auto;
        margin-top: 81px;
    }
    
    .fs_view-map #fs_row-main {
        height: 100%;
    }
    
    .fs_view-filter #fs_row-main {
        height: auto;
    }
    
    .fs_view-filter.fs_view-map #fs_row-main {
        height: 100%;
    }
    
    .fs_site-main {
        height: 100%;
    }
    
    .fs_view-filter .fs_site-main {
        height: auto;
    }
    
    .fs_view-map .fs_site-main {
        height: 100%;
    }
    
    #fs_row-main-inner {
        height: auto;
    }
    
    .fs_view-map #fs_row-main-inner {
        height: calc(100% - 55px);
    }
    
    #fs_results {
        position: relative;
        flex: 1 1 100%;
        transition: all 0.3s ease;
        overflow: visible;
        height: auto;
        padding: 0;
        /*padding: 20px 40px 40px 40px;*/
    }
    
    .fs_view-map #fs_results {
        flex: 1 1 50%;
        max-width: 50%;
        height: 100%;
    }
    
    .fs_view-map.fs_view-map-full #fs_results {
        flex: 1 1 0%;
        max-width: 0%;
        height: 0;
    }
    
    #fs_map {
        position: relative;
        flex: 1 1 0%;
        max-width: 0;
        width: 0;
        transition: all 0.3s ease;
        overflow: hidden;
        border-color: transparent;
    }
    
    .fs_view-map #fs_map {
        flex: 1 1 50%;
        max-width: 50%;
        height: 100%;
    }
    
    .fs_view-map.fs_view-map-full #fs_map {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .fs_view-map.fs_view-map-full #fs_map {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .fs_view-filter.fs_view-map #fs_results {
        -ms-flex: 1 1 65%;
        flex: 1 1 65%;
        max-width: 65%;
    }
    
    .fs_view-filter.fs_view-map #fs_map {
        -ms-flex: 1 1 35%;
        flex: 1 1 35%;
        max-width: 35%;
    }
    
    .fs_view-filter.fs_view-map.fs_view-map-full #fs_results {
        -ms-flex: 1 1 0%;
        flex: 1 1 0%;
        max-width: 0%;
        height: 0;
    }
    
    .fs_view-filter.fs_view-map.fs_view-map-full #fs_map {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    #map-canvas {
        height: auto;
        min-height: 1px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    #fs_row-main,
    #fs_row-main-inner {
        overflow: visible;
    }

    .fs_toggle-results {
        position: absolute;
        right: 0px;
        top: 50%;
        width: 24px;
        height: 40px;
        margin-top: -12px;
        background: #fff;
        padding: 0.5rem 0;
        border-radius: 0;
    }
   
    .fs_search-results,
    .search-result {
        overflow: hidden;
    }

    .row.search-result {
       flex-wrap: nowrap;
    }
    
    
}

@media (min-width: 1400px) {
    .fs_view-map #fs_map {
        /*flex: 1 1 66.666667%;
        max-width: 66.666667%;*/
        flex: 1 1 63.90625%;
        max-width: 63.90625%;
        height: 100%;
    }
    
    .fs_view-map #fs_results {
        /*flex: 1 1 33.333333%;
        max-width: 33.333333%;*/
        flex: 1 1 36.09375%;
        max-width: 36.09375%;
        height: 100%;
    }
    
    .fs_view-map.fs_view-filter #fs_map {
        flex: 1 1 54.1666667%;
        max-width: 54.1666667%;
        height: 100%;
    }
    
    .fs_view-map.fs_view-filter #fs_results {
        flex: 1 1 45.8333333%;
        max-width: 45.8333333%;
        height: 100%;
    }
    
    .fs_view-map.fs_view-map-full #fs_results {
        flex: 1 1 0%;
        max-width: 0%;
        height: 0;
    }
    
    .fs_view-map.fs_view-map-full #fs_map {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .fs_view-filter #fs_filter {
        flex: 1 1 21.25%;
        max-width: 21.25%;
        width: 100%;
    }
    
    .fs_view-filter #fs_content {
        flex: 1 1 78.75%;
        max-width: 78.75%;
    }
}

.easy-autocomplete {
    width: 100% !important;
}

.easy-autocomplete input {
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    color: #555;
    float: none;
    padding: 6px 12px;
}

input#property-search {
    /*border-radius: 1.5rem;*/
    border: 1px solid #dedee1;
    padding: 2px 10px 2px 35px;
    width: 100%;
    border-radius: 0;
    background: #fff url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23231f20" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 14px 14px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
}

@media (min-width: 992px) {
    input#property-search {
        padding: 8px 10px 8px 80px;
        background-position: 25px center;
        background-size: 24px 24px;
        font-weight: 500;
        font-size: 21px;
    }
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #fff;
    text-decoration: none;
}

.fs_search-utilities {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    height: 55px;
}

.fs_toggle-filter {
    display: inline-block;
    text-decoration: none;
}

.fs_toggle-filter:hover {
    text-decoration: none;
}

.fs_search .fs_nav-link-icon {
    font-size: 18px;
}

.fs_search .fs_nav-link-text {
    font-size: 0.875rem;
    font-weight: 700;
}

.fs_search .nav-link {
    padding: .5rem 0.25rem;
}

@media (min-width: 992px) {
    .fs_search .nav-link {
        padding: 0 1rem;
    }
}

.fs_nav-link-text,
.fs_nav-link-icon,
.fs_btn-icon,
.fs_btn-text {
    vertical-align: middle;
}

.fs_icon-filter,
.fs_icon-subscribe {
    margin-top: -1px;
}

.fs_icon-share {
    font-size: 18px;
    font-size: 1.125rem;
}

.fs_icon-map,
.fs_icon-view {
    font-size: 16px;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .fs_icon-map,
    .fs_icon-view {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

.fs_filter-list-toggle .fs_nav-link-icon {
    color: #dadada;
}

.fs_count-suites,
.fs_count-favourites {
    vertical-align: middle;
}

.fs_count-favourites-icon {
    font-size: 16px;
    font-size: 1rem;
    line-height: 0.875rem;
    vertical-align: middle;
    margin-top: -1px;
}

@media (min-width: 992px) {
    .fs_count-favourites-icon {
        font-size: 24px;
        font-size: 1.5rem;
        vertical-align: middle;
        margin-top: -2px;
    }    
}

.fs_has-favourites .fs_count-favourites-icon {
    color: #ff0000;
}

.fs_search-result-table .fs_icon-favorite {
    font-size: 18px;
    font-size: 1.125rem;
}

#fs_favourites .fs_icon-favourite {
    color: #ff0000;
}

@media (min-width: 992px) {
    #fs_favourites .fs_icon-favourite {
        margin-right: 8px;
    }
}

.fs_search .dropdown-toggle::after {
    display: none;
}

.fs_chip {
    display: inline-block;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 0px;
    margin-right: 5px;
}

.fs_chip-text {
    display: inline-block;
    vertical-align: middle;
}

.fs_icon-chip {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.fs_chip-remove {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 32px;
    line-height: 32px;
}

.fs_clear-filters {
    font-size: 14px;
    vertical-align: middle;
}

.fs_share-search {
   float: right;
   font-size: 14px;
   font-size: 0.875rem;
}

.fs_share-search:hover {
    text-decoration: none;
}

.fs_row-results-utilities {
    margin-bottom: 16px;
}

.fs_results-utilities {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 5px 20px;
    /*margin-top: 72px;*/
    /*background-color: #fff;*/
}

@media (min-width: 992px) {
    .fs_results-utilities {
        font-size: 14px;
        font-size: 0.875rem;
    }
    
    .fs_row-results-utilities {
        margin: 40px 0 30px 0;
        padding: 0 40px 0 40px;
    }
    
    .fs_view-map .fs_row-results-utilities {
        margin: 40px 0 30px 0;
        padding: 0 60px 0 40px;
    }
    
    .fs_results-utilities {
        padding: 0;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
        
    .fs_row-results-utilities {
        margin: 40px 0 30px 0;
        padding: 0 40px 0 40px;
    }
    
    .fs_view-map .fs_row-results-utilities {
        margin: 40px 0 30px 0;
        padding: 0 60px 0 40px;
    }
}

.fs_counts {
    flex: 0 0 auto;
}

.fs_ui-controls {
    float: right;
}

.fs_ui-controls .nav .nav-item:first-child {
    margin-right: 5px;
}

@media (min-width: 992px) {
    .fs_ui-controls .nav .nav-item:first-child {
        margin-right: 20px;
    }    
}

.fs_toggle-map:hover,
.fs_toggle-view:hover {
    text-decoration: none;
}

.fs_ui-controls .fs_nav-link {
    padding: 0;
}

.fs_results-controls-mobile {
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.fs_view-map .fs_results-controls-mobile {
    display: block;
}

@media (min-width: 992px) {
    .fs_results-controls-mobile,
    .fs_view-map .fs_results-controls-mobile {
        display: none;
    }
}

.fs_toggle-results-mobile {
    padding: 0;
    font-size: 12px;
    font-size: 0.75rem;    
}

.fs_results-controls-mobile .fs_reset-search {
    font-size: 12px;
    font-size: 0.75rem;
}

.fs_results-controls-mobile .fs_icon-reset-search {
    font-size: 18px;
    margin-right: 5px;
}

@media (min-width: 992px) {
    .fs_view-map.fs_view-filter .fs_ui-controls .fs_toggle-text {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .fs_view-map.fs_view-filter .fs_ui-controls .fs_toggle-text {
        display: inline !important;
    }
}

.fs_favourites-carousel-controls .fs_icon-carousel {
    /*font-size: 18px;
    font-size: 1.125rem;*/
    line-height: 18px;
    line-height: 1.125rem;
}
    
.fs_filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fs_filter-list li {
    border-bottom: 1px solid #f4f4f4;
}

.fs_filter-list li a {
    display: block;
}

.col.fs_search-result {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 20px 0 20px;
}

.fs_view-grid .col.fs_search-result {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 567px) {
    .fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    
    .fs_view-grid .fs_search-results {
        padding: 0 20px;
    }
    
    .fs_view-grid.fs_view-map .fs_search-results {
        padding: 0 20px 0 20px;
    }
    
    .col.fs_search-result {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 16px;
    }
    
    .fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }

    .fs_view-filter.fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .fs_view-map.fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    
    
    .fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    
    .fs_view-filter.fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .fs_view-map.fs_view-grid .col.fs_search-result {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.fs_search-result-property > .row {
    flex-wrap: nowrap;
}

.fs_view-grid .fs_search-result-property > .row {
    flex-wrap: wrap;
}

.fs_search-result .fs_search-result-property {
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
}

.fs_view-grid .fs_search-result .fs_search-result-property {
    padding-bottom: 0;
    border-bottom: none;
}

.fs_search-result-property .col.fs_search-result-thumbnail {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    max-width: 85px;
}

@media (min-width: 992px) {
    .fs_search-result-property .col.fs_search-result-thumbnail {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        max-width: 85px;
    }
}

.fs_view-grid .fs_search-result-property .col.fs_search-result-thumbnail {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
    padding-right: 0;
}

.fs_view-grid .fs_search-result-property .col.fs_search-result-thumbnail img {
    width: 100%;
}

.fs_thumbnail-grid {
    display: none;
}

.fs_view-grid .fs_thumbnail-grid {
    display: block;
}

.fs_view-grid .fs_thumbnail-list {
    display: none;
}

.fs_search-result-property .col.fs_search-result-details {
    /*-ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;*/
    -ms-flex-item-align: center!important; /*vertically align content*/
    align-self: center!important; /*vertically align content*/
    overflow: hidden;
}

.fs_view-grid .fs_search-result-property .col.fs_search-result-details {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.fs_search-result-details .col.fs_search-result-details-header {
    /*-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;*/
    overflow: hidden;
}

.fs_view-grid .fs_search-result-details .col.fs_search-result-details-header {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.fs_search-result-details .fs_col-remove {
    -ms-flex-item-align: center;
    align-self: center;
}

@media (min-width: 992px) {
    .fs_search-result-details .fs_col-remove {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
}

.fs_view-grid .fs_search-result-details .fs_search-result-remove {
    display: none;
}

.fs_search-result-remove {
    /*position: absolute;
    top: 0;
    right: 15px;*/
    background-color: transparent;
    border: none;
    color: #21bfdc;
    padding: 0;
}

.fs_search-result-grid-action {
    display: none;
}

.fs_view-grid .fs_search-result-grid-action {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0 5px;
    z-index: 997;
}

.fs_search-result-remove-grid {
    border: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

@media (min-width: 567px) {
    .fs_search-result-property .col.fs_search-result-thumbnail {
        padding-right: 20px;
        max-width: 130px;
        width: 130px;
    }
    
    .accordion-availabilities {
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
   .fs_search-result .col.fs_search-result-thumbnail {
        padding-right: 20px;
        max-width: 130px;
        width: 130px;
    }
    
    .accordion-availabilities {
        margin-top: 20px;
    }
}

.fs_view-grid .fs_search-result-collapse,
.fs_view-grid .fs_results-availabilities {
    display: none;
}

.fs_available-suites-link {
    display: none;
    font-size: 12px;
}

.fs_view-grid .fs_available-suites-link {
    display: block;
    margin-bottom: 40px;
}

.fs_collapse-toggle .fs_nav-link-icon {
    font-size: 18px;
}

.fs_collapse-toggle:hover,
.fs_collapse-toggle:active {
    text-decoration: none;
}

h3.fs_search-result-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    white-space: nowrap;
    color: #000;
    /*background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

h3.fs_search-result-title a {
    color: #000;
    text-decoration: none;
}

.fs_view-grid h3.fs_search-result-title {
    font-size: 1rem;
}

h4.fs_search-result-address {
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    /*background: -webkit-linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    background: -o-linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    background: -moz-linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    background: linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 992px) {
   h4.fs_search-result-address {
        margin-bottom: 25px;
    }
    
    .fs_view-grid h4.fs_search-result-address {
        margin-bottom: 0.5rem;
    }
}

.fs_search-result h5.fs_collapse-title {
    font-size: 12px;
    margin-bottom: 0;
}

.fs_search-result .table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 0;
}

@media (min-width: 567px) {
   .fs_search-result .table {
        table-layout: auto;
    }
}

.fs_search-result .table thead th,
.fs_search-result .table tbody td {
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 567px) {
    .fs_search-result .table thead th,
    .fs_search-result .table tbody td {
        width: auto;
        overflow: visible;
        white-space: normal;
    }
}


.fs_search-result .table thead th {
    border: none;
    font-size: 12px;
    color: #a0a0a0;
    font-weight: 500;
}
.fs_search-result .table tbody th {
    border: none;
    font-size: 12px;
    font-weight: 500;
}

.fs_search-result .table thead th:first-child,
.fs_search-result .table tbody td:first-child {
    padding: 0;
    width: 33px;
}
@media (min-width: 375px) {
    .fs_search-result .table thead th:first-child,
    .fs_search-result .table tbody td:first-child {
        padding: 0;
        width: 70px;
        text-align: right;
    }
}

@media (min-width: 567px) {
    .fs_search-result .table thead th:first-child,
    .fs_search-result .table tbody td:first-child {
        padding: 0;
        width: 100px;
    }
}

.fs_search-result .table thead th:nth-child(2),
.fs_search-result .table tbody td:nth-child(2) {
     /*padding-left: 15px;
   width: 70px;*/
}

@media (min-width: 375px) {
    .fs_search-result .table thead th:nth-child(2),
    .fs_search-result .table tbody td:nth-child(2) {
        padding-left: 15px;
        width: auto;
        /*min-width: 70px;*/
    }
}

@media (min-width: 567px) {
    .fs_search-result .table thead th:nth-child(2),
    .fs_search-result .table tbody td:nth-child(2) {
        padding-left: 30px;
        width: auto;
        /*min-width: 70px;*/
    }
}


.fs_search-result .table tbody td {
    font-size: 12px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fs_search-result .table tbody td:first-child {
    padding: 0;
    vertical-align: middle;
}

.fs_search-result .table thead th:last-child,
.fs_search-result .table tbody th:last-child,
.fs_search-result .table tbody td:last-child {
    text-align: right;
}

.fs_search-result .table thead th:nth-child(n+6),
.fs_search-result .table tbody th:nth-child(n+6),
.fs_search-result .table tbody td:nth-child(n+6){
    display: none;
}

@media (min-width: 992px) {
    .fs_search-result .table thead th:nth-child(n+6),
    .fs_search-result .table tbody th:nth-child(n+6),
    .fs_search-result .table tbody td:nth-child(n+6) {
        display: table-cell;
    }
}

.fs_result-suite-rent {
    text-align: right;
}

.fs_result-suite-name .fs_btn-text {
    margin-right: 5px;
}

.fs_search-result .table .fa-close {
    color: #ff0000;
}

.fs_search-result .table .fa-check {
    color: #00ff00;
}

.fs_view-map .fs_search-result .table thead th:nth-child(n+6),
.fs_view-map .fs_search-result .table tbody th:nth-child(n+6),
.fs_view-map .fs_search-result .table tbody td:nth-child(n+6) {
    display: none;
}

.fs_other-costs {
    background-color: #eaebed;
    border-radius: 10px;
    font-size: 12px;
    padding: 12px 20px;
    margin-top: 1rem;
}

.fs_other-costs li {
    margin-bottom: 5px;
}

.fs_other-costs li:last-child {
    margin-bottom: 0px;
}

@media (min-width: 375px) {
   .fs_other-costs {
        margin-left: 65px;
    } 
}

@media (min-width: 567px) {
   .fs_other-costs {
        margin-left: 110px;
    } 
}

@media (min-width: 768px) {
   .fs_other-costs {
        margin-left: 110px;
    } 
}

h5.fs_other-costs-title {
    font-size: 12px;
    color: #989898;
    font-weight: bold;
    margin-bottom: 8px;
}

h5.modal-title {
    font-size: 0.875rem;
    font-weight: normal;
}

.fs_other-costs-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    color: #989898;
}

.fs_btn-favourite {
    font-size: 15px;
    color: #eaebed;
    background-color: transparent;
    border: none;
    padding: 0;
}

/*.fs_btn-favourite:hover {
    color: #21bfdc;
}*/

.fs_btn-favourite.fs_selected {
    color: #ff0000;
}

ul.fs_filter-list li {
    margin-bottom: 20px;
}

ul.fs_filter-list a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 15px;
}

ul.fs_filter-list a .fs_icon_filter {
    color: #ccc;
}


input[type=checkbox].custom-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    margin-right: 20px;
}

.custom-label {
    background-image: url(images/checkbox-green.png);
}

.custom-check {
    background-image: url(images/checkbox-green.png);
}

input[type=checkbox].custom-checkbox + label.custom-label {
    padding-left: 25px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].custom-checkbox:checked + label.custom-label {
    background-position: 0 -15px;
}

#Availability {
    margin-bottom: 15px;
}

#industrialFilters select {
    margin-bottom: 15px;
}

#slider-range {
    margin-bottom: 20px;
}

.fs_favourites-carousel-controls {
    display: none;
}

.fs_view-favourites .fs_favourites-carousel-controls {
    display: block;
}

.fs_view-favourites .fs_ui-controls {
    display: none;
}

@media (min-width: 992px) {
    .fs_view-favourites .fs_ui-controls {
        display: block;
    }
    
    .fs_view-favourites .fs_fs_favourites-carousel-controls {
        display: none;
    }
}

#fs_favourites {
    position: fixed;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: 998;
    background-color: #fff;
}

@media (min-width: 992px) {
    #fs_favourites {
        z-index: 1010;
    }
}

.fs_view-favourites #fs_favourites {
    top: 95px; 
}

#fs_favourites.d-none {
    height: 0;
}

@media (min-width: 992px) {
    #fs_favourites {
        position: fixed;
        height: 0;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
         background-color: transparent;
        transition: all 0.3s ease-in-out;
    }
    
    .fs_favourites-active #fs_favourites {
        height: 55px;
    }
    
    .fs_view-favourites #fs_favourites {
        top: auto;
        height: 250px;
    }

    .fs_view-favourites-full #fs_favourites {
        height: 756px;
    }

    .fs_favourites-tab {
        display: inline-block;
        background-color: #fff;
        margin-left: 100px;
        padding: 15px 20px 5 20px;
        border: 1px solid #cfd6de;
        border-bottom: 1px solid #fff;
        font-size: 14px;
    }
}

.fs_favourites-tab a {
    color: #000;
    text-decoration: none;
}

.fs_favourites-tab a .fa-heart {
    color: #ff0000;
}

.fs_favourites-tab a .fa-chevron-down,
.fs_favourites-tab a .fa-chrevron-up {
    color: #eaeaea;
}

.fs_favourites-container {
    background-color: #fff;
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid #eaeaea;
    padding: 15px 0 15px 0;
    height: 100%;
}
@media (min-width: 992px) {
    .fs_favourites-container {
        padding: 50px 100px 0 100px;
    }
}

#fs_favourites-carousel {
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    #fs_favourites-carousel {
        /*display: flex;
        flex-wrap: nowrap;*/
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.fs_favourite {
    padding: 0 15px;
    background-color: transparent;
}

.fs_page-search .fs_favourite {
    background-color: #fff;
}

@media(min-width: 992px) {
    .fs_favourite {
        padding: 0;
        /*flex: 0 0 16.666667%;
        max-width: 16.666667%;*/
        width: 285px;
        display: inline-block;
    }
}

.fs_favourite-utilities-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 0;
}

@media (min-width: 992px) {
   .fs_favourite-utilities-list {
        font-size: 14px;
        font-size: 0.875rem;
        margin-bottom: 15px;
        padding-left: 15px;
        height: 100px;
    }
    
    .fs_favourite-utilities-list li a .fs_nav-link-icon {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
    }
    
    .fs_favourite-utilities-list li a .fs_nav-link-text {
        vertical-align: middle;
    }
}

.fs_favourite-utilities-list li {
    padding: 3px 5px;
    margin-bottom: 10px;
}

.fs_favourite-utilities-list li:first-child {
    padding-top: 0;
}

.fs_favourite-utilities-list li:last-child {
    margin-bottom: 0;
}

.fs_favourite-headings-list,
.fs_favourite-headings-other-costs {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .fs_favourite-headings-other-costs {
        margin-left: -15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 15px;
        background-color: #f4f5f7;
        margin-top: 15px;
    }
    
    .fs_favourite-headings-list,
    .fs_favourite-headings-other-costs {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
    }
    
}

.fs_favourite-headings-list li,
.fs_favourite-headings-other-costs li {
    padding: 3px 5px;
}

@media (min-width: 992px) {
    .fs_favourite-headings-list li,
    .fs_favourite-headings-other-costs li {
        padding: 10px 0 10px 20px;
    }
}

.fs_favourite-headings-list li:nth-child(odd),
.fs_favourite-headings-other-costs li {
    background-color: #f4f5f7;
}

.fs_favourite-headings-list li:first-child {
    min-height: 36px;
    background-color: transparent;
}

.fs_page-search .fs_favourite-headings-list li:first-child {
    background-color: #fff;
}

.fs_favourite-details-list,
.fs_favourite-details-other-costs {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 0;
}

.fs_favourite-details-list {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
   .fs_favourite-details-list,
   .fs_favourite-details-other-costs {
        margin-bottom: 0px;
        font-size: 14px;
        font-size: 0.875rem;
    } 
}

.fs_favourite-details-list li,
.fs_favourite-details-other-costs li {
   padding: 3px 0px;
}

@media (min-width: 992px) {
    .fs_favourite-details-list li,
    .fs_favourite-details-other-costs li {
       padding: 10px 5px;
    }    
}

.fs_favourite-details-other-costs {
    background-color: #eaebed;
    margin: 0 -15px;
    padding: 10px 15px;
}

@media (min-width: 375px) {
    .fs_favourite-details-list li,
    .fs_favourite-details-other-costs li {
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) {
    .fs_favourite-details-list li,
    .fs_favourite-details-other-costs li {
        margin-bottom: 0px;
    }
}

@media (min-width: 992px) {
   .fs_favourite-details-other-costs {
        background-color: #f4f5f7;
        margin: 0;
        padding: 20px;
        margin-top: 15px;
    } 
    
   .fs_favourite-details-list li:nth-child(odd),
   .fs_favourite-details-other-costs li {
       background-color: #f4f5f7;
   }

   .fs_favourite:last-child .fs_favourite-details-other-costs {
       border-top-right-radius: 20px;
       border-bottom-right-radius: 20px;
       margin-right: -15px;
   }
}

.fs_favourite-details-list li:first-child {
    font-weight: 500;
    color: #000;
    background-color: transparent;
}

.fs_page-search .fs_favourite-details-list li:first-child {
    background-color: #fff;
}

@media (min-width: 992px) {
    .fs_favourite-details-list li {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .fs_favourite-thumbnail img {
        width: 100%;
        max-height: 100px;
        height: 100px;
    }
}

.fs_favourite-header {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .fs_favourite-header {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
    }
}

.fs_favourite-remove {
   display: none;
}

@media (min-width: 992px) {
    .fs_favourite-remove {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 999;
        background-color: #fff;
        width: 24px;
        height: 24px;
    }
    
    .fs_remove-favourite {
        display: block;
        position: relative;
        top: -3px;
        right: -5px;
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: #fff;
    font-weight: normal;
    color: inherit;
}

.fs_favourite-thumbnail {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 0;
    max-width: 85px;
}

.fs_favourite-details-header {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.fs_favourite-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    white-space: nowrap;
    color: #000;
    /*background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 992px) {
    .fs_favourite-title {
        font-size: 15px;
        margin-bottom: 0px;
    }   
}

.fs_favourite-address {
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    /*background: -webkit-linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    background: -o-linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    background: -moz-linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    background: linear-gradient(right, rgba(152,152,152,0), rgba(152,152,152,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

@media (min-width: 992px) {
    .fs_favourite-thumbnail {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.fs_favourite-btn-share,
.fs_favourite-btn-details {
    font-size: 14px;
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fs_favourite-btn-share .fs_btn-icon,
.fs_favourite-btn-details .fs_btn-icon {
    font-size: 14px;
    font-size: 0.875rem;
}

.fs_favourite-details-list .fs_icon-clear {
    color: #2baf5f;
}

.fs_favourite-details-list .fs_icon-done {
    color: #db1a7a;
}
            
.fs_favourite-details-list .fs_icon-clear,
.fs_favourite-details-list .fs_icon-done {
    font-size: 0.875rem;
}

@media (min-width: 992px) {
    .fs_favourite-details-list .fs_icon-clear,
    .fs_favourite-details-list .fs_icon-done {
        /*font-size: 0.75rem;*/
        font-size: 1.125rem;
    }    
}

.fs_btn-icon,
.fs_btn-text {
    vertical-align: middle;
}

.modal-backdrop {
    background-color: #fff;
}

.modal-backdrop.show {
    opacity: .75;
}

.modal-dialog {
    max-width: 550px;
}

.modal-content {
    border: none;
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px;
    margin: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #e9ecef;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px;
    font-size: 14px;
    font-size: 0.875rem;
    color: #b5b5b5;
}

.modal-body .form-group {
    margin-bottom: 25px;
}

.modal-body-bottom {
    background-color: #eaebed;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fs_nav-print-view {
    margin-bottom: 20px;
}

.fs_nav-print-view .nav-link {
    color: #989898;
    border-radius: 10px;
    font-size: 0.875rem;
    padding: 1.5rem 1rem;
    text-align: center;
}

.fs_nav-print-view .nav-link img {
    margin-bottom: 20px;
}

.fs_nav-print-view .nav-link:hover,
.fs_nav-print-view .nav-link:active {
    background-color: #c7f0f6;
    
}

#fs_toolbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 275px;
    height: 100%;
    padding: 15px;
    z-index: 1030;
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0 5px rgba(0,0,0,.15);
    box-shadow: -5px 0 5px rgba(0,0,0,.15);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #f4f5f7;
}

#fs_toolbar.open {
    right: 0px;
}

#fs_toolbar .nav-link {
    padding: 0.75rem 1rem;
}

#collapseLanguageMenu ul {
    padding-left: 28px;
}

.gm-style > div:first-child > div:last-child > div:last-child > div:first-child > div:first-child > div:first-child,
.gm-style > div:first-child > div:last-child > div:last-child > div:first-child > div:first-child > div:nth-child(2),
.gm-style > div:first-child > div:last-child > div:last-child > div:first-child > div:first-child > div:nth-child(3),
.gm-style > div:first-child > div:last-child > div:last-child > div:first-child > div:first-child > div:nth-child(4) {
    display: none !important;
}

#themap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:not(.gmnoprint) {
    color: #fff !important;
}

.gm-style-iw {
   width: 225px !important;
    top: 10px !important;
    left: 0px !important;
   background-color: #fff;
   -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,.15);
   -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,.15);
   box-shadow: 5px 5px 0px 0px rgba(0,0,0,.15);
   border: none;
   border-radius: 3px;
}

.custom-pin {
    color: #fff;
}

@media (min-width: 360px) {
   .gm-style-iw {
     width: 225px !important;
     top: 30px !important;
     /*left: 20px !important;*/
  }  
}

@media (min-width: 375px) {
   .gm-style-iw {
     width: 225px !important;
     top: 30px !important;
     left: 25px !important;
  }  
}

.gm-style-iw > div {
    max-width: 225px !important;
    max-height: none !important;
}

.fs_infoWindow {
    position: relative;
}

.fs_iw-image {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

.fs_iw-image > img {
    width: 100px;
    height: auto;
}

.fs_iw-building {
    display: inline-block;
    width: 125px;
    vertical-align: top;
    padding: 15px 20px 0 15px;
    font-size: 10px;
}

.fs_iw-building-name {
    font-weight: bold;
    font-size: 12px;
}

.fs_iw-available {
    display: block;
    color: #fff;
    background-color: #60a845;
    width: 225px;
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
}

.fs_iw-close {
    position: absolute;
    top: 0;
    right: 0;
}

.fs_iw-close .fs_btn-iw-close {
    color: #333;
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
}

.fs_iw-close .fs_btn-iw-close .fs_icon-iw-close {
    font-size: 18px;
    color: #333;
}

.custom-control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-indicator {
    background-size: 100% 100%;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none !important;
    width: 18px;
    height: 18px;
    top: 3px;
}

.custom-control.custom-checkbox {
    padding-left: 38px;
    margin-right: 0;
    margin-bottom: 0;
}

.modal-body .custom-control.custom-checkbox {
    padding-left: 30px;
}

/*.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #98c93c;
    border-color: #98c93c;
    outline: none;
}*/

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FFFFFF" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>');
}

.custom-control-input:active~.custom-control-indicator {
    color: #fff;
    background-color: transparent;
}

.custom-control-description {
    line-height: 24px;
}

.custom-select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #495057;
    vertical-align: middle;
    background: #fff url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ced7de" width="24" height="24" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right .75rem center;
    background-size: 24px 24px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#mCSB_2_scrollbar_vertical {
        right: -15px;
}

@media (min-width: 992px) {
  #mCSB_2_scrollbar_vertical {
        right: -30px;
    }  
}

/*.row div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}*/

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}

.g-recaptcha > div:first-child {
    margin: 0 auto 30px auto;
}

.ui-front { 
    z-index: 1000 !important; 
}

ul.ui-autocomplete {
    list-style: none;
}

.ui-autocomplete {
    position : relative;
    width: 300px;
    z-index : 2000;
    list-style : none;
    background-color: #fff;
/*    border: solid 1px lightblue;*/
    text-align : left;
    overflow-y : auto;
    overflow-x: hidden;
    max-height : 100px;
    margin : 0px;
    padding : 0px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}


.leased {
    text-decoration: line-through;
}


img.printChoice {
    max-width: 122px;
}