body {
    background-color: #f5f5f5;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #989898;
    height: auto;
}

@media (min-width: 1200px) {
    .fs_col-primary,
    .fs_col-secondary {
        padding: 0;
    }

    .fs_col-primary {
        padding-right: 40px;
    }
}

#fs_masthead-suite {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.fs_suite-utilities {
    /*position: absolute;*/
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    z-index: 999;
}

@media (min-width: 992px) {
    .fs_suite-utilities {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.fs_suite-utilities .fs_container {
    padding: 0;
}

.fs_nav-utilities {
    font-size: 12px;
    font-size: 0.75rem;
}

.fs_nav-utilities .fs_nav-link-icon,
.fs_book-viewing-link .fs_nav-link-icon {
    font-size: 0.875rem;
}

.fs_book-viewing-link {
    font-size: 0.75rem;
}

.fs_btn-broker-package {
    font-size: 0.875rem;
}

.fs_btn-broker-package .fs_btn-icon {
    font-size: 1rem;
}
.fs_btn-broker-package .fs_btn-text {
    font-size: 0.875rem;
    vertical-align: middle;
}

#dropdownLanguage::after {
    display: none;
}

@media (min-width: 992px) {
    .fs_nav-utilities {
        font-size: 14px;
        font-size: 0.875rem;
    }

    .fs_nav-utilities .fs_nav-link-icon,
    .fs_book-viewing-link .fs_nav-link-icon {
        font-size: 0.875rem;
    }

    .fs_book-viewing-link {
        font-size: 0.875rem;
    }
    
    .fs_btn-broker-package,
    .fs_btn-back {
        font-size: 0.875rem;
    }

    .fs_btn-broker-package .fs_btn-icon {
        font-size: 24px;
        line-height: 14px;
        margin-right: 10px;
    }
    
    .fs_btn-back .fs_btn-icon {
        font-size: 1rem;
    }
    
    .fs_btn-broker-package .fs_btn-text,
    .fs_btn-back  .fs_btn-text {
        font-size: 0.875rem;
        vertical-align: middle;
    }
}

.fs_suite-main {
    padding-top: 20px;
}

@media (min-width: 992px) {
    .fs_suite-main {
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    .fs_page-header {
        position: absolute;
        margin-top: -75px;
        z-index: 999;
        background-color: #f5f5f5;
        padding: 13px 5px 0 40px;
        margin-left: -40px;
    }
}

.fs_page-header h2.fs_suite-address {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .fs_page-header h2.fs_suite-address {
        margin-top: -11px;
    }    
}

.owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fs_page-suite .fs_site-content {
    padding-top: 20px;
    position: relative;
}

@media (min-width: 992px) {
    .fs_page-suite .fs_site-content {
        padding-top: 40px;
    }    
}

.tab-content {
    padding-top: 20px;
}

@media (min-width: 992px) {
    .tab-content {
        padding-top: 40px;
    }
}    

.fs_link-icon,
.fs_link-text,
.fs_btn-icon,
.fs_btn-text,
.fs_nav-link-icon,
.fs_nav-link-text {
    vertical-align: middle;
}

.fs_section {
    margin-bottom: 0px;
}

.fs_suite-notes {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .fs_section {
        margin-bottom: 20px;
    }
}

.fs_suite-specifications {
    margin-right: -20px;
    margin-left: -20px;
}

@media (min-width: 992px) {
    .fs_suite-features {
        max-width: 715px;
    } 

    .fs_section {
        margin-bottom: 40px;
    }

    .fs_suite-specifications {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.card {
    border-radius: 0px;
}

@media (min-width: 992px) {
    .card {
        border-radius: 10px;
    }
}

.fs_card-specifications {
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 0;
    max-width: 575px;
}

.fs_specification-value {
    text-align: right;
}

.table.fs_contacts-table td, .table.fs_contacts-table th {
    border-top: 1px solid transparent;
}

.fs_col-feature-icon {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.fs_icon-feature {
    font-size: 24px;
    color: #f5f5f5;
}

.fs_col-feature-value {
    text-align: center;
}

@media (min-width: 992px) {
    .fs_col-feature-icon {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        text-align: left;
    }

    .fs_icon-feature {
        font-size: 48px;
    }

    .fs_col-feature-value {
        text-align: left;
        align-self: center;
    }
}

.fs_page-suite .other-costs {
    display: none;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 15px;
}

@media (min-width: 992px) {
    .fs_page-suite .other-costs {
        display: block;
    }    
}

.fs_page-suite h5.other-costs-title {
    font-size: 14px;
    font-size: 0.875rem;
    color: #a0a0a0;
    font-weight: 500;
    margin-bottom: 5px;
}

.fs_col-card-notes-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    text-align: center;
}

.fs_notes-icon {
    font-size: 48px;
    font-size: 3rem;
    color: #ccc;
}

h2.fs_notes-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 0.875rem;
    color: #ccc;
}

h3.fs_notes-title {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .fs_notes-icon {
        font-size: 80px;
    }   

    h2.fs_notes-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
}


.fs_lead-contact {
    display: none;
}

@media (min-width: 992px) {
    .fs_lead-contact {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 25%;
        z-index: 999;
    }

}

.fs_card-features {
    background-color: #ccc;
    border-color: transparent;
    border-radius: 10px;
}

@media (min-width: 992px) {
    .fs_card-features .card-body {
        padding: 30px 70px;
    }
    .fs_card-features .card-body .row {
        margin-bottom: 30px;
    }

    .fs_card-features .card-body .row:last-child {
        margin-bottom: 0;
    }
}

.fs_card-notes {
    background-color: transparent;
    border-color: transparent;
}

.fs_card-lead-contact,
.fs_card-contacts {
    border-color: transparent;
}


.fs_lead-contact-image {
    text-align: center;                
}

.fs_lead-contact-image img {
    max-height: 150px;
}

h3.fs_lead-contact-title {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

.fs_lead-contact-list {
    list-style: none;
    padding-left: 0;
}

.fs_lead-contact-list li {
    text-align: center;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-pills .nav-link {
    border-radius: 0;
    background-color: #21bfdc;
    color: #fff;
    font-size: 12px;
    font-size: 0.75rem;
}

@media (min-width: 992px) {
    .nav-pills .nav-link {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
    }
}

.nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-pills .nav-item:last-child .nav-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #21bfdc;
    background-color: #fff;
}

.nav-pills .fs_nav-link-icon {
    font-size: 14px;
    font-size: 0.857rem;
    line-height: 14px;
}

@media (min-width: 992px) {
    .nav-pills .fs_nav-link-icon {
        font-size: 24px;
        margin-right: 10px;
    }
}

h1.fs_suite-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    color: #21bfdc;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;

}

.fs_slash {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    vertical-align: middle;
    color: #cecece;
}

@media (min-width: 992px) {
    h1.fs_suite-title {
        font-size: 2rem;
        line-height: 2rem;
        vertical-align: unset;
    }
    .fs_slash {
        font-size: 2rem;
        line-height: 2rem;
        vertical-align: unset;
        margin-left: 15px;
    }
    
    h1.fs_suite-title a {
        line-height: 2rem;
    }
}

h2.fs_suite-address {
    font-size: 0.75rem;
    padding: 0;
}

@media (min-width: 992px) {
    h2.fs_suite-address {
        margin-top: -11px;
    }
}

h3.fs_card-feature-title {
    font-size: 0.75rem;
    color: #f5f5f5;
    margin-bottom: 0;
    text-transform: capitalize;
}

p.fs_feature-value {
    font-size: 1rem;
    color: #000;
}

@media (min-width: 992px) {
    p.fs_feature-value {
        font-size: 1.25rem;
        color: #000;
        margin: 0;
        line-height: 1.25em;
    }
}

.card-title h3 {
    font-size: 0.875rem;
    font-weight: bold;
}

.card-title-type h4 {
    font-size: 0.675rem;
    font-weight: bold;
    margin-top: .5rem;
}

h3.fs_notes-title {
    font-size: 1rem;
    font-weight: bold;
}

p.fs_notes-text {
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

p.fs_notes-text:last-child {
    margin-bottom: 0;
}

.fs_specification-label,
.fs_specification-value {
    font-size: 0.875rem;
    min-height: 24px;
}

.fs_specification-value .material-icons {
    font-size: 18px;
}

.fs_building-contacts {
    margin-left: -20px;
    margin-right: -20px;
    background-color: #fff;
    padding: 30px 20px 30px 20px;
}

@media (min-width: 992px) {
    .fs_building-contacts {
        /*position: absolute;
        top: 40px;
        right: 0;
        width: 25%;
        z-index: 999;
        margin: 0;*/
        margin-left: 0;
        margin-right: 0;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 0px 0px #e8eae9;
        -moz-box-shadow: 5px 5px 0px 0px #e8eae9;
        box-shadow: 5px 5px 0px 0px #e8eae9;
       /* min-width: 289px;*/
    }
    
    .fs_building-contacts.fixed {
        position: fixed;
        width: 279px
    }
}

@media (min-width: 1200px) {
    .fs_building-contacts.fixed {
        position: fixed;
        width: 285px
    }
}

.fs_building-contact {
    flex-wrap: nowrap;
}

.fs_building-contacts-list {
    margin: 0;
    padding: 0;
}

.fs_building-contact {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.fs_building-contact:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.fs_col-contact-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-left: 0;
}

@media (min-width: 992px) {
    .fs_col-contact-icon {
        display: none;
    }
}

.fs_col-contact-details {
    padding-right: 0;
}

@media (min-width: 992px) {
    .fs_col-contact-details {
        padding-left: 0;
    }
}

.fs_contact-details-list {
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-size: 0.875rem;*/
}

.fs_contact-details-list li {
    margin-bottom: 1px;
}

.fs_contact-details-list li:first-child {
    color: #000;
    font-weight: bold;
}

.fs_contact-details-list li:last-child {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fs_contact-details-list li:last-child a {
    text-overflow: ellipsis;
}

.fs_contact-details-list .fs_contact-email {
    font-weight: bold;
}

.fs_contact-link {
    border-radius: 50%;
    background-color: #21bfdc;
    width: 70px;
    height: 70px;
    padding: 15px;
    text-align: center;
}

.fs_contact-link-icon,
.fs_contact-link-text {
    color: #fff;
}

.fs_contact-link-text {
    font-size: 9px;
}

.fs_suite-loading,
.fs_suite-power,
.fs_suite-ceiling {
    display: none;
}

@media (min-width: 992px) {
    .fs_suite-loading,
    .fs_suite-power,
    .fs_suite-ceiling {
        display: table-cell;
    }    
}

.fs_suite-map {
    margin-left: -20px;
    margin-right: -20px;
}

@media (min-width: 992px) {
    .fs_suite-map {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 755px;
    }
}

.fs_icon-clear {
    color: #db1a7a;
}

.fs_icon-done {
    color: #2baf5f;
}

.fs_dropdown {
    display: inline-block;
}

.fs_btn-dropdown-suite.fs_dropdown-toggle {
    color: #21bfdc;
    background-color: transparent;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: -11px;
    vertical-align: unset;
}

@media (min-width: 992px) {
    .fs_btn-dropdown-suite.fs_dropdown-toggle {
        color: #21bfdc;
        background-color: transparent;
        padding: 0;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        vertical-align: middle;
        padding: 20px 30px;
        margin-top: -12px;
        margin-left: -17px;
        border-radius: 10px;
    }

    .fs_page-header .dropdown-item {
        padding: 5px 30px;
    }
}

.fs_btn-dropdown-suite.dropdown-toggle::after {
    display:none
}

.fs_btn-dropdown-suite.fs_dropdown-toggle:hover {
    color: #21bfdc;
    background-color: #fff;
    background-image: none;
    border-color: #fff;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}

.fs_btn-dropdown-suite.fs_dropdown-toggle.focus, .fs_btn-dropdown-suite.fs_dropdown-toggle:focus {
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    background-color: #fff;
}

.fs_btn-dropdown-suite.fs_dropdown-toggle.active, .fs_btn-dropdown-suite.fs_dropdown-toggle:active, .show>.fs_btn-dropdown-suite.fs_dropdown-toggle.dropdown-toggle {
    background-color: #fff;
    background-image: none;
    border-color: #fff;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}


.fs_btn-dropdown-suite.fs_dropdown-toggle .fs_btn-text,
.fs_btn-dropdown-suite.fs_dropdown-toggle .fs_btn-icon {
    vertical-align: middle;
}


@media (min-width: 992px) {
    .fs_btn-dropdown-suite.fs_dropdown-toggle .fs_btn-icon {
        font-size: 30px;
    }    
}

.fs_page-header .dropdown-menu {
    margin: 0 0 0;
    margin-top: -6px;
    font-size: 0.75rem;
    color: #21bfdc;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}

@media (min-width: 992px) {
    .fs_page-header .dropdown-menu {
        min-width: 15rem;
        width: calc(100% + 3rem);
        margin-top: -8px;
        font-size: 1rem;
        color: #21bfdc;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
        border-top-left-radius: 0;
        -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    }
}

.fs_btn-dropdown-suite .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 10px;
    clear: both;
    font-weight: 400;
    color: #21bfdc;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

@media (min-width: 992px) {
    .fs_btn-dropdown-suite .dropdown-item {
        padding: .25rem 1.5rem;
    }    
}

/*.dropdown-item:focus, .dropdown-item:hover {
    color: #21bfdc;
    text-decoration: none;
    background-color: #f8f9fa;
}*/

/*.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #21bfdc;
}*/

#fs_suite-carousel {
    height: 325px !important;
    overflow: hidden;
    /*margin-top: 40px;
    margin-bottom: 100px;*/
    background-color: #989898;
    padding-top: 40px;
}

@media (min-width: 992px) {
    #fs_suite-carousel {
        height: 450px !important;
        /*margin-top: 40px;
        margin-bottom: 100px;*/
        background-color: #989898;
        padding-top: 100px;
    }
}

.fs_carousel-container {
    position: relative;
    overflow: hidden;
    margin-top: 35px;
}

@media (min-width: 992px) {
    .fs_carousel-container {
        margin-top: 0px;
    } 
}

.fs_carousel-next,
.fs_carousel-prev {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 1000;
}

@media (min-width: 992px) {
    .fs_carousel-next,
    .fs_carousel-prev {
        position: absolute;
        top: 50%;
        margin-top: -48px;
        z-index: 1000;
    }
}

.fs_carousel-prev {
    left: 2.5%;
}

.fs_carousel-next {
    right: 2.5%;
}

@media (min-width: 992px) {
    .fs_carousel-prev {
        left: 5%;
    }

    .fs_carousel-next {
        right: 5%;
    }    
}

.fs_carousel-next i,
.fs_carousel-prev i {
    font-size: 60px;
}

@media (min-width: 992px) {
    .fs_carousel-next i,
    .fs_carousel-prev i {
        font-size: 96px;
    }    
}

.owl-dots {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: rgba(255,255,255,0.4);
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 15px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: 0px 5px;
    background: #21bfdc;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

.fs_page-suite .nav-pills .nav-link,
.fs_nav-utilities .nav-link {
    padding: 0.5rem 0.75rem;
}

.fs_toolbar-link {
    padding: 0.25rem 1rem 0.25rem 0;
}

@media (min-width: 992px) {
    .fs_nav-utilities .nav-link {
        padding: 0.5rem 1rem;
    }
    
    .fs_nav-pills.nav-pills .nav-link {
        padding: 15px 20px;
        line-height: 18px;
    }

    .fs_toolbar-link {
        padding: 0.5rem 1rem;
    }
}

#fs_modal-broker-info input,
#fs_modal-broker-info textarea,
#fs_modal-broker-package input,
#fs_modal-broker-package textarea{
    margin-bottom: 20px;
}

.fs_gallery {
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
}

.fs_gallery .col {
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .fs_gallery {
        max-width: 720px;
    }    
}

.fs_gallery .fs_gallery-thumbnail {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
}

.fs_gallery-videos .fs_gallery-thumbnail {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .fs_gallery .fs_gallery-thumbnail {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .fs_gallery-videos .fs_gallery-thumbnail {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
}

h3.fs_media-section-title {
    font-size: 1rem;
}


.cover{
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
}

