
#fs_masthead-suite {
    position: static;
}

.fs_page-header {
    margin-left: 0;
}

@media (min-width: 992px) {
    .fs_suite-main .fs_page-header {
        padding: 13px 5px 0 40px;
    }
}

.fs_suite-main h1.fs_suite-title {
    margin-bottom: -11px;
}

@media (min-width: 992px) {
    .fs_suite-main .fs_page-header h2.fs_suite-address {
        margin-top: -11px;
    }
}
