<span style='color: #000'>1009 frames</span>	<span style='color: #900'>41,216 KB</span>	<span style='color: #090'>8,249.60 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />