@charset "utf-8";

#tabs {
	display:none;
}
#tab {
		/* must be initially hidden */
	display:none;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #616365;
	font-size: 10px;  /* 16px × 62.5% = 10px */
	background-color: #fff;
}

#wrapper {
	/*position:absolute;
	top: 50%;
	left: 50%;*/
	width:958px;
	margin: 0 auto 15px auto;
	/*margin-top: -336px;*/ /*set to a negative number 1/2 of your height*/
	/*margin-left: -480px;*/ /*set to a negative number 1/2 of your width*/
	
}

#header {
	width: 958px;
	/*background-color: #00619a;*/
	margin: 0 0 0 0;
	padding: 0;
	/*background: #4b74b2 url(../images/stacked-rule-reversed.png) left top no-repeat;*/
	background: #4b74b2;
	/*border-bottom: 12px solid #58A618;*/
/*	background-image:url(../images/triovest_header_logo.jpg) no-repeat;*/
}

#header-top {
	
}

#header-bottom {
	
}

#header-image {
	float: left;
	width: 190px;
	height: 190px;
	border-right: 1px solid #fff;	
}

.ipad-link {
	float:left;
	margin: 5px 0 0 0;
}

.ipad-index-link {
	float:right;
	margin: 5px 0 0 0;
}

/*#header-inner-top {
	height: 20px;
	float: right;
	width: 700px;
	text-align:right;
	margin: 10px 0 0 0;
	clear: right;
}

#header-inner-bottom {
	height: 30px;
	float: right;
	width: 700px;
	margin: 10px 0 0 0;
}*/

#logo {
	float: left;
	margin: 23px 20px 20px 20px;
}

#utilities {
	/*float: right;
	width: 405px;*/
	margin: 10px 20px 0 0;
	/*background: url(../images/utilities-bg.jpg) no-repeat;	*/
}

#languages {
	text-align: right;
	font-size: 1.1em;
	padding: 0;
	/*border-bottom: 1px solid #4b74b2;*/
	margin: 12px 0 10px 30px;
	color: #fff;
	float: left;
	color: #4b74b2;
	width: 90px;
}

#search #languages {
	text-align: right;
	font-size: 1.1em;
	padding: 0;
	margin: 12px 0 10px 30px;
	color: #fff;
	float: left;
	color: #4b74b2;
	width: 90px;
}

#languages a {
	color: #4b74b2;
}

#search .pagination {
	float: left;
	margin: 10px 0 0 30px;
}

#accessories {
	float:left;	
	margin: 13px 0 10px 30px;
}

#accessories-search {
	float:left;	;
}

.copy {
	padding: 0 10px 0 0;	
}

#print-pdf {
	float: left;
	margin: 0 20px 0 0;
}

#print-pdf img {
	float: left;
	margin: 0 5px 0 0;
}

#print-page {
	float: left;
	margin: 0 20px 0 0;
}

#print-page img {
	float: left;
	margin: 0 5px 0 0;	
}

#share-this {
	float: left;
}

#share-this img {
	float: left;
	margin: 0 5px 0 0;	
}

#search-box {
	clear: both;
	height: 55px;
	width: 958px;
	margin: 0 0 20px 0;
	/*border-top: 2px solid #58A618;
	border-bottom: 2px solid #58A618;*/
	border-bottom: 1px solid #7a7a7a;
	background-color: #fff;
}

#search-box-left {
	float: left;
	width: 190px;
	height: 60px;
	margin: 0 10px 0 0;
	/*border-right: 1px solid #fff;*/
	text-align: center;
	padding: 10px 0 0 0;
}

#search-box-right {
	float: right;
	width: 756px;
}


#search-box-top {
	background-color: #00619a;
	height: 60px;
	padding: 20px 0 0 30px;
}

#search-box-bottom {
	background-color: #7b7066;
	height: 100px;
	border-top: 1px solid #fff;
}

#content {
	padding: 0;
	margin: 0;
	width: 958px;
	background-color: #fff;
}

#suite #content {
	/*background: url(../images/suite-content-bg.jpg) top left repeat-y;*/
	border-bottom: 1px solid #fff;
}

#search #content {
	padding: 0;
	margin: 0;
	width: 958px;
	/*background: url(../images/search-results-bg.jpg) top left repeat-y;*/
}

#content-top {
	width: 960px;
}


#building #content-top, #building-high-rise #content-top {
	width: 958px;
	height: 40px;
	padding: 0;
	margin: 0;
	/*border-top: 2px solid #58A618;*/
	border-top: 1px solid #7a7a7a;
	border-bottom: 1px solid #7a7a7a;
	background-color: #fff;
}

#suite #content-top {
	width: 958px;
	height: 40px;
	padding: 0;
	margin: 0;
	/*border-top: 2px solid #58A618;*/
	border-top: 1px solid #7a7a7a;
	border-bottom: 1px solid #7a7a7a;
	background-color: #fff;
}

/*#suite #content-top {
	width: 958px;
	height: 40px;
	padding: 0;
	margin: 0 0 10px 0;
	/*background-color: #4b74b2;*/
	/*border-top: 2px solid #58A618;
	border-bottom: 2px solid #58A618;
	border-bottom: 1px solid #7a7a7a}*/

#content-top-left {
	float: left;
	width: 190px;
	height: 38px;
	/*border-right: 1px solid #4b74b2;*/
	/*text-align: center;*/
	display: table-cell;
	vertical-align: middle;
	padding-top: 3px;
}

#content-top-left img {
	margin-left: 20px;
}


#content-top-right {
	float: right;
	/*width: 945px;*/
}

#search #content-top-right {
float: right;
width: 300px;
}

#content-middle {
	width: 956px;
	margin: 0 1px 2px 1px;
}



.navigation {
	float: right;
	/*clear: both;*/	
}


.navigation .previous {
	text-transform: uppercase;
	float: left;
	margin: 0;	
}

.navigation .next {
	text-transform: uppercase;
	float: left;
}

#building .navigation .previous {
	text-transform: uppercase;
	float: left;
	margin: 0 20px 0 0;
	padding: 0 0 0 15px;
	background: url(../images/arrow-left.jpg) left 2px no-repeat;	
}

#building-high-rise .navigation .previous {
	text-transform: uppercase;
	float: left;
	margin: 0 20px 0 0;
	padding: 0 0 0 15px;
	background: url(../images/arrow-left.jpg) left 2px no-repeat;
}

#building .navigation .next {
	text-transform: uppercase;
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	background: url(../images/arrow-right.jpg) right 2px no-repeat;	
}

#building-high-rise .navigation .next {
	text-transform: uppercase;
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	background: url(../images/arrow-right.jpg) right 2px no-repeat;
}


.navigation .back {
	float: left;
	text-transform: uppercase;
	margin: 0 20px 0 0;
}

.navigation .back-building {
	float: left;
	text-transform: uppercase;
	margin: 0;
}

.navigation ul {
	float: left;
}

.navigation ul li {
	list-style: none;
	float: left;
	margin: 0 5px 0 0;
}

.navigation ul li.first {
	margin: 0 5px 0 5px;
}

.navigation ul li.last {
	
}


.navigation {
	/*padding-top: 25px;*/
	padding-bottom: 5px;
	/*margin: 0 23px 0 0;*/
}

#suite .navigation {
	margin: 0 15px 0 0;	
}

#building .navigation, #building-high-rise .navigation {
	margin: 10px 0 0 0;	
}

.navigation a:link, .navigation a:visited {
	text-decoration: none;
}

.navigation a:hover {
	
}

#building-high-rise .navigation a:link,
#building .navigation a:link,
#building-high-rise .navigation a:visited,
#building .navigation a:visited {
	color: #4b74b2;
	text-decoration: none;
	
}

#search .navigation {
	/*float: left;*/
	clear: none;
}


#search .navigation a:link,
#search .navigation a:visited {
	color: #fff;
	text-decoration: none;
}


#blue {
	background-color: #00619A;
	height: 25px;
	width: 958px;
}

#search-results {
	/*background-color: #fff;*/
	padding: 0;
	width: 960px;
	margin: 0 auto 0 auto;
	
}

.search-result {
	width: 940px;
	margin: 0 0 30px 0;
}

.search-result-left {
	float: left;
	width: 190px;
	margin: 0 0 0 0;	
}

.search-result-right {
	float: left;
	width: 733px;
	padding: 0 0 0 15px;
}

.search-result .thumbnail {
	width: 152px;
	height: 152px;
	border: 1px solid #fff;
	margin: 0 auto 0 auto;
}

.search-result .title-bar {
	float: left;
	background-color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	color: #4b74b2;
	width: 728px;
	line-height: 35px;
	margin: 0;
	/*border-top: 2px solid #58A618;
	border-bottom: 2px solid #58A618;*/
	border-bottom: 1px solid #7a7a7a;
	text-transform: uppercase;
}

.title-bar .property-name {
	float: left;
	margin: 0;
}

.property-name a:link, .property-name a:visited{
	color:#4b74b2;
	text-decoration:none;
}

.property-name a:hover{
	color:#4b74b2;
	text-decoration:underline;
}

#building-high-rise table.availabilities {
	width: 956px;
	margin: 0 0 0 1px;	
}


table.availabilities {
	width: 958px;
	border: none;
	
}

table.availabilities tr.odd {
	/*background-color: #00619a;*/
	/*border-color: #fff;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;*/
	font-size: 1.2em;
}

table.availabilities tr.even {
	/*background-color: #5ea1d5;*/
	/*border-color: #00619a;*/
	/*border-bottom: solid;
	border-top: solid;*/
	/*border-width: 1px;*/
	font-size: 1.2em;
}

table.availabilities th {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	color: #000;
	font-size: 12px;
	/*background-color: #ccc;*/
}

table.availabilities td {
	text-align: center;
	vertical-align:text-top;
	padding: 5px;	
}

table.availabilities p {
	text-align: center;
	vertical-align:text-top;
	/*padding: 5px;*/	
	font-size: 1.0em;
	margin:0;
}

#availabilities-title {
	padding: 8px 0px 5px 5px;
	
}

table.availabilities th.suite, table.availabilities td.suite {
	text-align: center;
}

table.availabilities th.rent, table.availabilities td.rent {
	text-align: center;
}

table.availabilities th.area, table.availabilities td.area {
	text-align: center;
}

table.availabilities th.availability, table.availabilities td.availability {	
	text-align: center;
}

table.availabilities th.description{
	text-align: center;	
}
table.availabilities td.description{
	text-align: left;
}
table.availabilities th.space-plan, table.availabilities td.space-plan {
	text-align: center;
}

table.availabilities th.threed-plan, table.availabilities td.threed-plan {
	
}

table.availabilities td.results-notes {
	color: #ff0000;
	text-align: left;
	padding: 2px;
}

#search-results table.availabilities {
	width: 738px;
	font-size: 1.3em;
	/*border: 1px solid #cacaca;*/
}

#search-results table.availabilities tr.odd {
	background: none;
}

#search-results table.availabilities tr.even {
	background: none;
}

#search-results table.availabilities th {
	background: none;
	padding: 5px;
	font-weight: bold;
	color: #000;
}

#search-results table.availabilities td {
	padding: 2px;	
}

#search-results table.availabilities th.suite {
	
}

#search-results table.availabilities th.suite, #search-results table.availabilities td.suite {
	text-align: center;
}

#search-results table.availabilities th.net-rent, #search-results table.availabilities td.net-rent {
	text-align: center;
}

#search-results table.availabilities th.area, #search-results table.availabilities td.area {
	text-align: center;
}

#search-results table.availabilities th.status, #search-results table.availabilities td.status {	
	text-align: center;
}

#search-results table.availabilities th.description {
	
}

#search-results table.availabilities th.description{ 
	text-align: center;	
}

#search-results table.availabilities td.description {
	text-align:left;
}

#search-results table.availabilities td.description p{
	text-align:left;
	font-size: 1.0em;
	margin:0;
}

#search-results table.availabilities td.results-notes {
	color: #ff0000;
}

#search-results .additional-details {
	/*color: #fff;*/
	padding: 10px;
	
}

.additional-costs {
	font-size: 1.3em;
	margin: 0 0 5px 0;
	padding: 5px;
	border-top: 1px solid #C9CAC8;
	border-bottom: 1px solid #C9CAC8;
}

.additional-costs .costs-title {
	float: left;
	margin: 0 10px 0 0;
	color: #000;
}

.additional-costs .costs-value {
	float: left;
	margin: 0 20px 0 0;
}

.property-contact {
	float:left;
	width: 100%;
	font-size: 1.3em;
	
}

#index-contacts td {
	vertical-align:text-top;
}


.property-contact .contact-details {
	float: left;
	margin: 0 15px 0 0;
}

.leased {
	text-decoration: line-through;
}

td.status.leased {
	text-decoration: none;
	text-transform: uppercase;
	color: #FF0000;	
}

#footer {
	width: 950px;
	margin: 0;
}

#footer-navigation {
	float: right;
}

#copyright {
	margin: 0 auto 0px auto;
	/*text-align:center;*/
}

/***************************************
***************************************/

#building-top {
	padding: 0;
	border-bottom: 1px solid #fff;
}



#building-bottom {
	padding: 0;
	margin: 0 0 2px 0;
}

#building-address {
	float: left;
	color: #4b74b2;	
	margin: 0 0 0 20px;
	font-size: 1.3em;
	line-height: 40px;
}

#suite #building-address {
	float: left;
	color: #4b74b2;	
	margin: 0 0 0 30px;
	font-size: 1.3em;
	line-height: 40px;
}

#building-map-button {
	float: right;
	margin: 5px 10px 0 30px;
}

#building-map-button img{
	vertical-align: middle;
	margin: 0 0 0 10px;	
}

#building-map-button a {
	/*color: #fff;	*/
}

#suite #building-map-button a {
	color: #4b74b2;	
}

#building-name {
	float:left;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#building-gallery {
	float: left;
	/*background-color: #7b7066;*/
	width: 150px;
	height: 201px;
	border-right: 1px solid #fff;
}

#building-high-rise #building-gallery {
	float: left;
	/*background-color: #7b7066;*/
	width: 150px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#building-gallery img {
	margin: 0 10px 10px 10px;
	border: 1px solid #fff;
}

#building #building-image {
	float: left;
	padding: 20px 0 0 20px;
}

#building-high-rise #building-image {
	float: left;
	width: 344px;
	height: 483px;
	border-left: 1px solid #fff;
	padding: 20px 0 0 0;
}




#building-high-rise #building-information {
	float: left;
	width: 151px;
	height: 201px;
	/*background-color: #5ea1d5;*/
	/*color: #fff;*/
	
}

#address {
	float: left;
	font-size: 1.2em;
}


#details {
	margin: 10px 0 10px 0;	
}

.detail {
	font-size: 1.2em;
}

.detail-name {
	float: left;
	/*width: 85px;*/
}

.detail-value {
	float: right;
	text-align: right;
	/*width: 60px;*/
	vertical-align:text-bottom;
}



















#building-middle3 {
    float:left;
    width:100%;
   /* background:#5ea1d5;*/
    overflow:hidden;
    position:relative;
	
}
#building-middle2 {
    float:left;
    width:100%;
   /* background:#00619a;*/
    position:relative;
    right:223px;
	border-right: 1px solid #fff;

}
#building-middle {
    float:left;
    width:100%;
    /*background:#5ea1d5;*/
    position:relative;
    right:545px;
	border-right: 1px solid #fff;
}



#building #building-information {
	float: left;
	width: 151px;
	/*background-color: #5ea1d5;*/
	
    position:relative;
    left:787px;
    overflow:hidden;
	padding-top: 20px;
/*		border-right: 1px solid #fff;*/
}

#building #building-description {
	float: left;
	width: 504px;
	margin: 0;	
	/*background-color: #00619a;*/
	position:relative;
    left:828px;
    overflow:hidden;
	padding-top: 20px;
}
	
#building #building-contact {
	float: left;
	width: 182px;
	/*background-color: #5ea1d5;*/
	/*border-left: 1px solid #fff;*/
	position:relative;
    left:871px;
    overflow:hidden;
	padding-top: 20px;
}

.box {
	min-height: 190px;
	padding: 20px;		
}





















#building-high-rise #building-description {
	float: left;
	width: 380px;
	padding:20px;
}


#building-high-rise #building-contact {
	float: left;
	width: 380px;
	/*background-color: #00619a;*/
	padding: 20px;
}

#building-high-rise #portrait-contact td{
	width:180px;
	padding-bottom:10px;
}

.contact-details {
	font-size: 1.2em;
	margin: 0;
	padding-bottom: 10px;
}

#building-high-rise .contact-details {
	padding: 0;	
}

.cost {
	float: left;
	margin: 0 24px 0 24px;	
}

#content-left {
	float: left;
	width: 564px;
}

#suite #content-left {
	float: left;
	width: 565px;
	background: none;
	padding-top: 5px;
}

#content-right {
	float: left;
	width: 350px;
	/*color: #fff;*/
	/*background-color: #c6d1e3;*/
	margin: 2px 1px 0 0;
	padding: 20px;
}

#suite #content-right {
	float: left;
	width: 353px;
	/*color: #fff;*/
	margin: 2px 0 0 0;
	
	background: none;
}

#building-high-rise #content-left {
	float: left;
	width: 191px;
	border: none;
}

#building-high-rise #content-middle {
	float: left;
	width: 420px;
	padding: 0;
}

#building-high-rise #content-right {
	float: left;
	width: 280px;
	margin: 0;
	padding: 0;
}

#controls {
	height: 36px;
	margin: 0 0 20px 0;
}

.control-icon {
	float: left;
	width: 33px;
	height: 33px;
	margin: 0 5px 0 0;	
}

#floorplan {
	
}

#suite-info {
	/*background-color: #114996;*/
	padding: 20px;
	margin: 0 0 10px 0;
	font-size: 1.3em;
}

.suite-info-item {
	margin: 0 0 0 0;	
}

.suite-info-item-big {
	font-size: 18px;	
}

.suite-info-item.last {
	margin: 0;	
}

#suite-description {
	background-color: #114996;
	color: #fff;
	padding: 20px;
	margin: 0 0 10px 0;
}

#suite-contact {
	/*background-color: #114996;
	color: #fff;*/
	padding: 20px;
	font-size: 1.3em;
}

.suite-contact-item-name {
	font-size: 1.2em;
	/*color: #fff;*/
}

.suite-contact-item {
	font-size: 1.0em;
	/*color: #fff;*/
}

#suite-contact img {
	float: right;	
}

#arcestra-download {
	padding: 10px 0 0 0;
	border-top: 1px solid #fff;	
}

/********* Content *************/

a:link, a:visited {
	color: #4b74b2;
	text-decoration: underline;

}

a:hover {
	text-decoration: none;

}

#utilities a:link, #utilities a:visited {
	color: #4b74b2;
	text-decoration: underline;

}

#utilities a:hover {
	text-decoration: none;

}


#utilities #languages a:link, #utilities #languages a:visited {
	color: #fff;
	text-decoration: underline;

}

#utilities #languages a:hover {
	color: #fff;
	text-decoration: none;

}

.contiguous {
	color: #ff0000;	
}

a.contiguous {
	color: #ff0000;	
}

h1 {
	font-size: 3.6em;
	color: #4b74b2;
	margin: 0 0 10px 0;
}

#search-box h1 {
	float: left;
	display: inline-block;	
	margin: 0;
}

#header h1 {
	font-size: 2.4em;
	padding: 10px 0 5px 0;
	margin: 25px 20px 20px 0;
	text-align: right;
	display: inline-block;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*text-transform: uppercase;*/
	float: right;
	
}

#building h1 {
	font-size: 2.4em;
	padding: 10px 0 5px 0;
	margin: 25px 20px 20px 0;
	text-align: right;
	display: inline-block;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
	float: right;
	
}


#search #header h1 {
	font-size: 3.6em;
	padding: 10px 0 4px 0;
	margin: 17px 20px 20px 0;
	text-align: right;
	display: inline-block;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*text-transform: uppercase;*/
	float: right;
}

#content-right h1 {
	font-size: 3.0em;
	color: #4b74b2;
	margin: 0;
}


#content-top h1 {
	font-size: 4.6em;
	color: #fff;
	margin: 0;	
}

h2 {
	font-size: 1.2em;
	color: #4b74b2;
	font-weight: bold;
	margin: 0;
	padding: 0 0 5px 0;
	text-transform: uppercase;
	/*border-bottom: 2px solid #58A618;*/
	border-bottom: 1px solid #7a7a7a;
}

h2.date {
	font-size: 1.2em;
	color: #4b74b2;
	float: right;
	margin: 0 0 20px 0;
	border: none;
}

#header-inner-top h2 {
	font-size: 1.8em;
	color: #4b74b2;
	margin: 0;
	padding-right: 15px;
	display: inline-block;	
}

#suite h2 {
	font-size: 2.6em;
	color: #fff;	
}

#search-box h2 {
	float: right;
	display: inline-block;
	margin: 0;
}

h3 {
	font-size: 1.2em;
	color: #4b74b2;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	text-transform: uppercase;
	/*border-bottom: 2px solid #58A618;*/
	border-bottom: 1px solid #7a7a7a;
	
}

#suite h3 {
	border: none;
	text-transform: none;	
}

#building-information h3 {
	color: #4b74b2;	
}

#building-gallery h3 {
	color: #4b74b2;	
}

h4 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

h5 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

h6 {

}

p {
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 0 0 10px 0;
	
}

ul {
	margin: 0 0 10px 0;
}

li {
	list-style: disc;
	margin: 0 0 0 15px;
}

#suite ul#furniture {
	margin: 0 0 20px 0;	
}

#suite ul li {
	list-style: none;
	font-size: 1.3em;	
	margin: 0 0 5px 0;
}

#building-downloads ul{
	margin: 0;
}

#building-downloads ul li {
	float: left;
	list-style: none;
	margin: 0 20px 10px 0;
	font-size: 1.4em;
}

#building-downloads ul li.last {
	margin: 0;
}

#building-downloads ul li img {
	margin: 0 10px 0 0;	
	vertical-align: middle;
}

strong {
	font-weight: bold;	
}

em {
	font-style:italic;
}

.contigious {
	color: #FF0000;	
}

#arcestra-download {
	margin: 15px 0 15px 0;
}

#arcestra-download ol li{
	font-size: 1.2em;
}


br {
	clear: left;

}

.clear
{
	clear: both;
	font-size: 0px;
	line-height: 0px;
	visibility: collapse;
}


/****** Menus 
***********************************************/


/************* Form Styles *************/
#search-form {
	margin: 20px 0 0 0;
	float: right;
	width: 756px;
}

#search-form table {
	width: 920px;	
	
}

#search-form td {
	
}

label {
	
}

select {
	border: 1px solid #114996;
	width: 125px;
}

#search-form td.dropdown-label {
	text-align: right;
	width: 85px;
	padding: 0 10px 0 0;
	color: #4b74b2;
	font-size: 10px;
}

#search-form td.dropdown-label-narrow {
	text-align: right;
	width: 50px;
	padding: 0 10px 0 0;
	color: #4b74b2;
	font-size: 10px;
}

#search-form td.search-field {
	width: 140px;
}

#search-form .button {
	color: #fff;
	background-color: #4b74b2;
	border: solid;
	border-color: #fff;
	padding: 3px 5px 3px 5px;
	border-width: 1px;
	font-size: 10px;
	margin: 0 30px 0 0;
	height: 20px;
	cursor:pointer;
}

#search-form .button-french {
	color: #fff;
	background-color: #4b74b2;
	border: solid;
	border-color: #fff;
	padding: 3px 5px 3px 5px;
	border-width: 1px;
	font-size: 10px;
	margin: 0 30px 0 0;
	height: 20px;
	cursor:pointer;
}


/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
